<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<link rel='stylesheet' href='http://50.57.118.253/media/css/reset.css' />
	    <link rel='stylesheet' href='http://50.57.118.253/media/css/hacks.css' />
	    <link rel='stylesheet' href='http://50.57.118.253/media/css/email.css' />
		<style type="text/css">
			

					
							
		</style>
	</head>
	<body>
		<h1 style='width:400px; margin:0 auto; background-color:#333;padding:10px 10px 30px 10px; color:#FFF; font-family:Arial; text-align:center;'>Content Update from the MetaLayer Dashboard</h1>
		<div class='content' style='font-size:70%; padding:10px; overflow:auto; height:300px; background-color:#333; width:400px; margin:0 auto; color:#DDD; font-family:Arial;'>
			<ul>
				{% for item in content %}
					<li class='{{ item.type }} clearfix content_item' style='margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #555; width:98%;'>
						<div class='content_item_details' style='height:45px; overflow:hidden; width:90%'>
							<img src='{{ item.image_url }}' style='float:left; height:45px; padding-right:10px;'/>
							<span class='author'>{{ item.author }}</span>
							<span class='title'>{{ item.title }}</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>