h1 { width:400px; margin:0 auto; background-color:#333;padding:10px 10px 30px 10px; color:#FFF; font-family:Arial; text-align:center; }
.content { font-size:70%; padding:10px; overflow:auto; height:300px; background-color:#333; width:400px; margin:0 auto; color:#DDD; font-family:Arial;}
.content .content_item { margin-bottom:10px; padding-bottom:10px; border-bottom:1px dashed #555; width:98%;}
.content .content_item_details { height:45px; overflow:hidden; width:90% }
.content .content_item_details img { float:left; height:45px; padding-right:10px; }

.content .flickrsearch .content_item_details img { float:left; height:80px; padding-right:10px; }
.content .flickrsearch .content_item_details { height:80px; overflow:hidden; width:90% }

.content .has_faces { float:right; width:20px; height:20px; padding:30px 0 0 0;}
.content .influence { float:right; font-size:80%; margin-top:30px; padding-top:17px; background-image:url('http://50.57.118.253/media/images/icon-influence.png'); background-repeat:no-repeat; background-position:0px 0px; background-size:20px; font-weight:bold; color:#FFF;}

.content .content_item_details .sentiment { float:right; width:25px; height:25px; }
.content .content_item_details .sentiment-text { display:none; }
.content .content_item_details .sentiment-positive { background:url('http://50.57.118.253/media/images/icon-sentiment-up.png') 0 0 no-repeat;  }
.content .content_item_details .sentiment-negative { background:url('http://50.57.118.253/media/images/icon-sentiment-down.png') 0 0 no-repeat;  }
.content .content_item_details .sentiment-flat { background:url('http://50.57.118.253/media/images/icon-sentiment-flat.png') 0 0 no-repeat; background-size:25px; }
.content .tags { height:12px; overflow:hidden; padding-top:3px;}
.content .tags li { float:left; padding: 0 5px 0 0; font-weight:bold}
.content .tags li.title { }

.content .twittersearch { background:url('http://50.57.118.253/media/images/icon-twitter.png') no-repeat right 5px; background-size:20px;}
.content .twitteruser { background:url('http://50.57.118.253/media/images/icon-twitter.png') no-repeat right 5px; background-size:20px;}
.content .feed { background:url('http://50.57.118.253/media/images/icon-feed.png') no-repeat right 5px; background-size:20px;}
.content .googlenews { background:url('http://50.57.118.253/media/images/icon-googlenews.png') no-repeat right 5px; background-size:20px;}
.content .gmail { background:url('http://50.57.118.253/media/images/icon-gmail.png') no-repeat right 5px; background-size:20px;}
.content .flickrsearch { background:url('http://50.57.118.253/media/images/icon-flickr.png') no-repeat right 5px; background-size:20px;}
