{% extends 'thecommunity/base.html' %}

{% block page_title %}- Sorry we're conducting routine maintenance{% endblock %}

{% block body_class %}maintenance{% endblock %}

{% block page_body %}
    <div id="maintenance_page">
        <div id="maintenance_inner">
            <img src="/static/images/thecommunity/maintenance.jpg" />
            <h1>We're closed for some routine maintenance</h1>
            <p>
                We'll be back with you shortly.
            </p>
        </div>
    </div>
{% endblock %}