{% extends 'thecommunity/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/thecommunity/insight_page.js"></script>
    <script type="text/javascript">
        function apply_helper_class_functions(element)
        {
            element.find('.helper_corner').corner();
        }

        function clean_user_generated_html(element)
        {
            element.find('a').each
                (
                    function()
                    {
                        $(this).attr('target', '_blank');
                    }
                )
        }

        $(document).ready
            (
                function()
                {
                    $('#page').insight_page({{ insight_json|safe }});
                }
            );
    </script>
{% endblock %}

{% block page_body %}
    <div id="page" class="insight_page">
        <div id="user_details" class="page_block">
            <h3>{{ profile_user.username }}</h3>
            <div class="page_block_inner">
                <div class="clearfix">
                    <div class="description">
                        <h4>{{ insight.name }}</h4>
                        <p>{{ insight.config.description }}</p>
                    </div>
                    <table id="metadata_table">
                        <tr>
                            <th>Created by</th>
                            <td><a href="/community/${insight.username}">{{ insight.username }}</a></td>
                            <th>Created</th>
                            <td>{{ insight.created_pretty }}</td>
                        </tr>
                        <tr>
                            <th>Viewed</th>
                            <td>XXX</td>
                            <th>Remixed</th>
                            <td>XXX</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="insight">
            <div class="page_block_inner clearfix" id="collections_container"></div>
        </div>
        <div id='trending_insights' class="page_block">
            <h3><span>Trending Insights</span></h3>
            <div class="page_block_inner">
                <ul class="clearfix">
                    <li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}