{% extends 'thecommunity/base.html' %}

{% block meta %}
    <meta property='og:title' content="metaLayer.com - {{ insight.name }} by {{ insight.username }}" />
    <meta property='og:type' content="article" />
    <meta property='og:image' content="http://{{ site_url }}/i/facebook/{{ insight.id }}.png" />
    <meta property='og:url' content="http://{{ site_url }}/d/{{ insight.short_url.url_identifier }}" />
    <meta property='og:site_name' content="metaLayer" />
    <meta property='og:app_id' content="140737952711154" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/thecommunity/insight_page/insight_page.js"></script>
    <script type="text/javascript">
        function apply_helper_class_functions(element)
        {
            element.find('.helper_corner').corner();
        }

        function clean_user_generated_html(element)
        {
            element.find('a').each
                    (
                            function()
                            {
                                $(this).attr('target', '_blank');
                            }
                    )
        }
    </script>
{% endblock %}

{% block uncompressed_js %}
    <script type="text/javascript" src="/static/js/lib/d3.js"></script>
    <script type="text/javascript" src="/static/js/lib/d3.layout.cloud.js"></script>
    <script type="text/javascript">
        $(document).ready
            (
                function()
                {
                    $('body').insight_page({{ insight_json|safe }});
                }
            );
        /*Facebook*/
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + FACEBOOK_APP_ID;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        /*twitter*/
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        /*google+*/
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endblock %}

{% block page_title %} {{ insight.name }} by {{ profile_user.username }}{% endblock %}

{% block body_class %}insight_page{% endblock %}

{% block page_body %}
    <div id="fb-root"></div>
    <form id='csrf_form'>
        {% csrf_token %}
    </form>
    <section id="main_wrapper">
        <section class="main">
            <div id="user_and_insight_details">
                <div class="user_details">
                    <h2><a href="/community/{{ profile_user.username }}">{{ profile_user.username }}</a></h2>
                </div>
                <div class="insight_details">
                    <h2>{{ insight.name }}</h2>
                    <p class="description">{{ insight.config.description }}</p>
                    <table class="meta">
                        <tr>
                            <th>Data Sources</th>
                            <td>
                                <ul>
                                    {% for collection in insight.collections %}
                                        {% for data_point in collection.data_points %}
                                            <li>
                                                <img src="{{ data_point.image_small }}" /> {{ data_point.configured_display_name }}
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <th>Time Frame</th>
                            <td>{{ insight.tz }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="social_links">
                <h2>Share this insight</h2>
                <div class="like_links" id="like_links_{{ insight.id }}">
                    <table>
                        <tr>
                            <td class="link"><input type="text" value="http://{{ short_url }}/d/{{ insight.short_url.url_identifier }}" /></td>
                            <td class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://metalayer.com/{{ insight.username }}/{{ insight.id }}" data-text="{{ insight.name }}" data-size="small" data-count="none">Tweet</a></td>
                            <td class="google"><div class="g-plusone" data-annotation="false" data-href="http://metalayer.com/{{ insight.username }}/{{ insight.id }}"></div></td>
                            <td class="facebook"><div class="fb-like" data-href="http://metalayer.com/{{ insight.username }}/{{ insight.id }}" data-send="true" data-show-faces="false" data-font="tahoma" data-layout='button_count'></div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="insight" class="clearfix">
                <div class="collections">

                </div>
            </div>
        </section>
    </section>
    <div class="clrflt"></div>
{% endblock %}