<div class='data_point_config' data-configuration="{{ config_as_json }}">
    <div class="image_and_title">
        <img src='{{ config.image }}' />
        <h3>{{ config.full_display_name }}</h3>
    </div>
    <p class="instructions">{{ config.instructions }}</p>
    <form>
        {% for element in config.elements %}
            <div class="form-row">
                <label for="{{ element.name }}">{{ element.display_name }}</label>
                <input type='{{ element.type }}' name="{{ element.name }}" />
                <p class="help">{{ element.help }}</p>
            </div>
        {% endfor %}
        <div class="form-actions">
            <input type="submit" name='cancel' class="cancel" value="cancel"/>
            <input type="submit" name='save'  class="save" value="save"/>
        </div>
    </form>
</div>