{% extends 'thecommunity/base.html' %}
{% load i18n %}

{% block page_title %} password reset{% endblock %}

{% block page_body %}

<div class="community_content">
	
<div class="subsection" id="reset_password_confirm">

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.new_password1.errors }}

<div class="form-row clearfix">
	<label for="id_new_password1">{% trans 'New password:' %}</label> {{ form.new_password1 }}
</div>
{{ form.new_password2.errors }}

<div class="form-row clearfix">
	<label for="id_new_password2">{% trans 'Confirm password:' %}</label> {{ form.new_password2 }}
</div>

<div class="action-row clearfix">
	<input type="submit" name="change_password" value="change my password" class="submit ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" />
</div>

</form>

{% else %}

<h2>{% trans 'Password reset unsuccessful' %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

</div>

</div>

{% endblock %}
