{% extends 'thecommunity/base.html' %}

{% block page_title %} password reset{% endblock %}

{% block page_body %}

{% if form.email.errors %}
	<div id="error_page">
		<div id="error_inner">
			<strong>{{ form.email.errors }}</strong>
		</div>
	</div>
{% endif %}

<div class="community_content">
	
<div class="subsection" id="reset_password">

<h2>Password Reset</h2>

<form action="" name="password-reset" method="post">{% csrf_token %}

<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<div class="form-row clearfix">
	<label for="id_email">E-mail address:</label> {{ form.email }}
</div>	
<div class="action-row clearfix">
	<input type="submit" name="reset_password" value="reset password" class="submit ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" />
</div>

</form>

</div>

</div>

{% endblock %}
