[submodule "chargifyapi"]
	path = chargifyapi
	url = git@github.com:metaLayer/chargifyapi.git
[submodule "compressor"]
	path = compressor
	url = git@github.com:metaLayer/compressor.git
[submodule "metalayercore"]
	path = metalayercore
	url = git@github.com:metaLayer/metaLayer-metalayercore.git
