*.pyc
*.db*
.idea
fabfile.py
static/CACHE/css
static/CACHE/js
static/CACHE/images
imaging/CACHE/*.png
static/css/thedashboard
static/images/thedashboard
static/html/thedashboard
static/js/thedashboard
