@charset "utf-8";
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
article, aside, figure, footer, header, hgroup, nav, section {display: block;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; cursor:pointer; }
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
body {line-height:1;}
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
a:hover, a:active {outline: none;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;}
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button {width: auto; overflow: visible;}
a, img a, img, a img {border:0;	outline:0; text-decoration:none;}
.fltleft {float:left;}
.fltright {float:right;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clear { clear: both; }
.clrflt { clear:both; line-height:1px; font-size:1px; overflow: hidden; }
.waiting { text-align:center; padding:5%; width:100%;}
.waiting img { position:relative; top:11px; left:5px;}
.border { border:2px solid #333;}
.image_outer { display:inline-block; }

.messages { width:855px; margin:10px auto; border:#d6dcd6 3px solid; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; behavior:url(PIE.htc); box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7;}
.messages li { padding:20px 50px; font-size:110%; }
.messages li.error { background:url('/static/images/thecommunity/caution.png') no-repeat 20px 13px; background-size:25px; }
.messages li.info { background:url('/static/images/thecommunity/tick.png') no-repeat 20px 16px; background-size:22px; }
.messages li.left_arrow { background:url('/static/images/thecommunity/arror_small_270degrees.png') no-repeat 20px 19px; background-size:22px; }

body { background:url(/static/images/thecommunity/body_bg.jpg) repeat left top; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#000000; outline:0; }
#outer { width:100%; background:url(/static/images/thecommunity/outer_bg.png) repeat-x left top; }
.headerwrap { width:100%; height:41px; margin-bottom:12px; min-width:861px; background:#FFF; }
.header { width:861px; padding:6px 0 0 0; margin:0px auto; }
.logo { width:238px; height:28px; float:left; padding-top:3px;}
.logo1 { width:450px; height:21px; float:left; line-height:41px; }
.logo span.beta { position:relative; bottom:6px; left:-3px; font-size:110%; font-style:italic; color:#999; }
.logo1 span.beta { position:relative; bottom:6px; left:-3px; font-size:110%; font-style:italic; color:#cccccc; }
.header_right { width:300px; float:right; }
.header_search { width:293px; float:left; }
.header_search_txt { width:250px; height:22px; background:url(/static/images/thecommunity/header_search_txt.jpg) no-repeat left top; border:none; outline:none; float:left; padding:2px 10px; font-size:12px; color:#333; line-height:22px; }
.header_search_but { width:23px; height:26px; background:url(/static/images/thecommunity/header_search_but.jpg) no-repeat left top; text-indent:-9999px; font-size:0px; color:#f0f0f0; float:left; border:0; cursor:pointer; }
.header_login { width:120px; float:right; }
.header_login ul { float:right; }
.header_login ul li { font-size:12px; color:#333; line-height:28px; font-weight:bold; float:left; padding:0px 10px 0 5px; background:url(/static/images/thecommunity/header-login_sep.jpg) no-repeat right center; }
.header_login ul li a { text-decoration:none; color:#333; }
.header_login ul li.nobg { background:none; padding:0 0 0 5px; }
.banner, .community_content { width:820px; border:#d6dcd6 3px solid; margin:0px auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; behavior:url(PIE.htc); box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:16px 16px 0 19px; position:relative; }
.banner { height:269px; }
.banner h1 { font-family:Arial, Helvetica, sans-serif; font-size:20px; text-align:center; color:#333; font-style:italic; font-weight:bold; line-height:26px; padding:0 0 18px 0; margin:0px; }
.banner h1 span { color:#2e6098; }
.banner h1 strong { color:#aa4040; }
.banner_left { float:left; }
.community_content { margin-bottom:1em; }
.community_content .subsection { margin-bottom:3em; line-height:21px; clear:both; }
.community_content h2 { font-size:125%; margin-top:.5em; margin-bottom:.5em; }
.community_content .left { width:426px; float:left; }
.community_content .right { width:372px; float:right; }
.slider { width:105px; float:left; }
.slider ul {}
.slider ul li { padding:0 0 5px 0; }
.slider ul li.nopad { padding:0px; }
.slideshow { width:357px; text-align:right; font-size:12px; color:#333; float:right; line-height:20px; font-weight:bold; }
.slideshow_pic { width:348px; height:185px; overflow:hidden; text-align:center;}
.videoarea { width:345px; float:right; }
.video { width:345px; margin-bottom:16px; }
.pager { height:12px; text-align:center; }
.pager a { width:12px; height:12px; display:inline-block; text-indent:-9999px; margin:0px 2px; background:url(/static/images/thecommunity/pager_bg.jpg) no-repeat 0px 0px; }
.pager a:hover, .pager a.activeSlide { background:url(/static/images/thecommunity/pager_bg.jpg) no-repeat 0px -18px; }
.content { width:840px; padding:10px 0 20px 15px; margin:0px auto; }
.content_left { width:426px; float:left; padding:6px 0 0 0; }
.content_left h2 { font-size:20px; color:#333; line-height:24px; font-weight:bold; font-style:italic; text-align:center; padding:0 0 8px 0; margin:0px; }
.signup_button { width:308px; height:77px; margin:0px auto; }
.content_left p { font-size:12px; color:#333; font-weight:bold; line-height:28px; text-align:center; display:block; padding:0 0 22px 0; margin:0px; }
.content_left p a { text-decoration:underline; color:#2e6098; }
.trading_box { width:391px; height:129px; background:#FFF; margin-bottom:14px; padding:12px 0 0 18px; position:relative; border:#d6dcd6 3px solid; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url(PIE.htc); box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; }
.sidebar .trading_box { width:330px; height:255px }
.trading_box h3 { font-size:14px; color:#333; line-height:16px; font-weight:bold; padding:0 0 10px 0; margin:0px; }
.trading_box ul {}
.trading_box ul li { float:left; padding:0 6px 0 0; }
.sidebar .trading_box ul li { float:none; display:inline-block; padding:5px 10px 5px 0; }
.discover_area { width:352px; padding:12px 0 0 65px; }
.discover_area h3 { font-size:14px; color:#333; font-weight:bold; line-height:16px; padding:0 0 12px 50px; margin:0px; }
.discover_area ul { }
.discover_area ul li { font-size:14px; color:#333; line-height:22px; }
.discover_area ul li a { text-decoration:none; color:#333; display:block; }
.discover_box { width:128px; }
.discover_box2 { width:110px; }
.sidebar { width:372px; float:right; font-size:14px; color:#333; line-height:18px; padding:8px 0 0 0; }
.sidebar p { padding:0 0 16px 0; margin:0px; }
.sidebar_nav { margin-bottom:30px; }
.sidebar_nav ul {}
.sidebar_nav ul li { width:112px; font-size:12px; color:#333; line-height:14px; padding:0 16px 0 0; float:left; }
.sidebar_nav ul li.nopad { padding:0px; }
.sidebar_nav ul li strong { font-weight:bold; }
.sidebar_nav ul li span { display:block; text-align:center; height:38px; }
.sidebar_nav ul li a { text-decoration:none; color:#333; }
.bottom_box { }
.bottom_box img { height:108px; margin-bottom:16px; width:355px; }
.footerwrap { width:100%; height:77px; background:#24262c; padding:20px 0 5px 0; }
.footer { width:861px; margin:0px auto; }
.footer_nav { height:24px; padding:0 0 10px 0; }
.footer_nav ul { text-align:center; }
.footer_nav ul li { font-size:14px; color:#FFF; padding:0 9px 0 13px; background:url(/static/images/thecommunity/footer_sep.jpg) no-repeat left center; line-height:24px; display:inline-block; }
.footer_nav ul li a { text-decoration:none; color:#FFF; }
.footer_nav ul li.nobg { background:none; }
.credit { height:20px; font-size:14px; color:#FFF; line-height:20px; text-align:center; }
.credit strong { font-weight:bold; }
#main_wrapper{ background:url(/static/images/thecommunity/main_bg.jpg) 0 0 repeat; width:0 auto; padding:0; }
.headerwrap1 { width:100%; height:41px; margin-bottom:12px; min-width:871px; background:#333; }
.header { width:872px; padding:6px 0 0 0; margin:0px auto; }
.header_logout { width:320px; float:right; }
.header_logout ul { float:right; }
.header_logout ul li { font-size:12px; color:#FFF; line-height:28px; font-weight:bold; float:left; padding:0px 10px 0 5px; background:url(/static/images/thecommunity/header-login_sep.png) no-repeat right center; }
.header_logout  ul li a { text-decoration:none; color:#FFF; }
.header_logout ul li.nobg { background:none; padding:0 0 0 5px; }
section{ width:872px; padding:7px 0 0 10px; margin:0px auto; min-height: 500px;}
aside{ width:333px; float:left; }
.left{ width:310px; }
.left_top { width:310px; padding-bottom:20px; background-color:#FFF; height:80px; padding:10px 0 10px;}
.left_top .profile_image_container { float:left; margin:0 10px; }
.left_top h2 { color:#333; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding:10px 0; margin-bottom:7px; }
.left_top span{ color:#7e7d7d; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0; }
.usr_info{ background:url(/static/images/thecommunity/user_info_bg.jpg) top center repeat-x; height:95px; width:290px; margin:24px 0 0 10px; }
.usr_info ul{ }
.usr_info ul li{ background:url(/static/images/thecommunity/user_info_nav_sep.jpg) center right no-repeat; display:inline; float:left; padding-left:12px; padding-right:10px; }
.usr_info ul li.nobg{ background:none; }
.usr_info ul li a{ }
.usr_info ul li a h2{ font-size:14px; color:#333; font-family:Arial, Helvetica, sans-serif; display:block; line-height:14px; }
.usr_info ul li a span{ color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:12px; }
.status_box{ margin-top:12px; background:url(/static/images/thecommunity/status_box.jpg) top center no-repeat; width:276; height:33px; }
.status_box span{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#CCC; margin-left:20px; line-height:30px; font-style:italic; }
.left_mid{ margin-top:12px; width:310px; height:170px; background:url(/static/images/thecommunity/left_mid_bg.png) top left no-repeat; }
.left_mid h2{ color:#333; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding:12px 0 0 12px; margin-bottom:18px; }
.chart_display{ }
.chart_display ul{ padding-left:7px; }
.chart_display ul li{ display:inline; padding-left:7px; }
.chart_display span{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#CCC; margin-left:20px; line-height:30px; float:right; padding-right:20px; }
.left_bottom{ background:url(/static/images/thecommunity/trend_box_bg.jpg) top center no-repeat; width:310px; height:351px; margin-top:12px; }
.left_bottom h2{ color:#333; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding:12px 0 0 12px; }
.treding_row1{ width:285px; height:90px; padding:15px 0 10px; }
.treding_row1 ul{ padding-left:10px; }
.treding_row1 ul li{ display:inline; padding-left:3px; }
.treding_row2{ width:285px; height:90px; padding-bottom:10px; }
.treding_row2 ul{ padding-left:10px; }
.treding_row2 ul li{ display:inline; padding-left:3px; }
.treding_row3{ width:285px; height:90px; }
.treding_row3 ul{ padding-left:10px; }
.treding_row3 ul li{ display:inline; padding-left:3px; }

.container { width:528px; float:right; margin:0 20px 10px 0; padding-bottom:20px; background-color:#FFF; }
.container h2{ color:#333; font-family:Arial, Helvetica, sans-serif; font-size:15px; padding:12px 0 0 12px; margin-bottom:18px; }
.activity { max-height:800px; overflow:auto; padding:5px;}
.insight_templates { margin:20px; border:1px solid; background-color:#EEE; }
.insight_templates .insight_templates_header { display:none; }
.insight_templates .insight_templates_header a { display:inline-block; margin-left:170px; }
.insight_templates .introduction p { width:400px; margin:0 auto 10px; }
.insight_templates .insight_template { margin:20px; color:#FFF; padding:5px;}
.insight_templates .insight_template h3 { font-size:150%; padding-bottom:5px; margin-top:2px;}
.insight_templates .insight_template form { margin-top:5px; text-align:right; margin-right:20px;}
.insight_templates .insight_template form label { display:block; padding:5px;}
.insight_templates .insight_template form input[type=text] { display:inline-block; padding:5px; width:190px; margin-left:10px; }
.insight_templates .insight_template form .button { margin:10px auto; width:150px; display:inline-block;}
.insight_templates .insight_template.twitter { background: #69C url('/static/images/thedashboard/data_points/twitter_medium.png') no-repeat 0; background-size:60px; padding-left:60px; border:1px solid #003;}
.minimized .insight_templates .insight_templates_header { display:block;}
.minimized .insight_templates .introduction { display:none; }
.minimized .insight_templates .insight_template { display:none; }
.minimized .insight_templates .insight_template h3 { padding-bottom:0; }
.minimized .insight_templates .insight_template p { display:none; }
.minimized .insight_templates .insight_template { margin-top:0; }

.insight { border:1px solid #DDD; margin:10px;}
.insight span.time { float:right; color:#AAA; padding:10px;}
.insight h3 { font-weight:normal; font-size:120%; padding:10px; }
.insight h3 a { color:#000; }
.insight h3 em { font-size:80%;}
.insight .image_container { text-align:center; margin:20px 0}
.insight.data_insight .image_container { height:110px; display:inline-block;}
.insight.data_insight .image_container img { width:105px; height:105px; }
.insight .action_buttons { float:right; margin:5px}
.insight .like_links { height:40px; margin:5px; display:none; width:350px;  border:1px solid #DDD; margin-left:90px; padding-top:5px;}
.insight .like_links .st_fblike_hcount { position:relative; bottom:15px;}
.insight .owner_actions { float:right; padding:15px 5px; }
.insight .owner_actions a { color:#333; font-weight:bold; padding:0 3px;}
.insight .owner_actions .divider { color:#555; position:relative; bottom:1px;}
.insight .community_data { background-color:#DDD; padding:0 20px; }
.insight .community_data li { display:inline-block; padding:15px; color:#555;}
.insight .remixes { background-color:#DDD; height:112px; display:none; }
.insight .remixes ul { border-top:1px dashed #AAA; margin:0 10px; }
.insight .remixes ul li { display:inline-block; padding:15px 5px; }
.profile_page .image_outer {position:relative; bottom:3px}

.profile_pic_container { border:1px solid #D9D9D9; height:81px; min-height:81px; width:81px; }
.profile_pic { background-position:50% 50%; background-repeat:no-repeat; border:4px solid #FFFFFF; height: 73px; width:73px; }

#login_or_register_page table { width:1000px; margin:60px auto 60px; height:400px;}
#login, #register { width:400px; min-height:200px; border:#d6dcd6 3px solid; margin:0px auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; behavior:url(PIE.htc); box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:16px 16px 0 19px; position:relative; }
#login h3 { font-size:200%; text-align:center; margin-bottom:30px;}
#login .form-row { margin:10px 0 10px 15px; }
#login .form-row label { display:inline-block; width:40%; }
#login .form-row input { display:inline-block; width:50%; }
#login .action-row input { width:100%; margin:20px 0;}
#register h3 { font-size:200%; text-align:center; margin-bottom:30px;}
#register .form-row { margin:10px 0 10px 15px; }
#register .form-row label { display:inline-block; width:40%; }
#register .form-row input { display:inline-block; width:50%; }
#register .action-row input { width:100%; margin:20px 0;}
#register .instructions { padding:15px 15px 0; font-style:italic; font-size:80%; }
#change_password .form-row { margin-top: 5px; }
#change_password .form-row label { display:inline-block; width:175px; }
#change_password .form-row input { display:inline-block; width:200px; }
#change_password .action-row input { width:100%; margin:20px 0; }
#change_password input[type=button], #change_password input[type=submit] { width: 250px; }
#reset_password .form-row, #reset_password_confirm .form-row { margin-top: 1em; }
#reset_password .form-row label, #reset_password_confirm .form-row label { display:inline-block; width:175px; }
#reset_password .form-row input, #reset_password_confirm .form-row input { display:inline-block; width:200px; }
#reset_password .action-row input, #reset_password_confirm .action-row input { width:200px; margin:20px 0; }
#reset_password input[type=button], #reset_password input[type=submit] { width: 200px; }
#reset_password_confirm .errorlist, #reset_password .errorlist { background: none repeat scroll 0 0 #FCF0F0; border: 1px solid #E2D0D0; border-radius: 0 0 0 0 !important; color: #280B0B; border-radius: 3px 3px 3px 3px; padding: 1em 0.7em; width:375px; margin-top:1em; margin-bottom: 1em;}

.insight_page #user_and_insight_details { background-color:#FFF; margin:0 25px 0 5px; min-height:150px; padding-bottom:15px;}
.insight_page .user_details h2 { font-size:200%; padding:20px; float:right;}
.insight_page .user_details h2 a { color:#000; }
.insight_page .insight_details h2 { font-size:200%; padding:20px; }
.insight_page .insight_details .description { padding:20px; }
.insight_page .insight_details .meta { width:80%; margin:0 auto; background-color:#EEE;}
.insight_page .insight_details .meta td, .insight_page .insight_details .meta th {  padding:10px; vertical-align:top;}
.insight_page .insight_details .meta td li img { position:relative; bottom:5px; width:20px;}
.insight_page #social_links { background-color:#FFF; min-height:60px; margin:10px 25px 0 5px; padding-bottom:15px;}
.insight_page #social_links h2 { font-size:200%; padding:20px; }
.insight_page #social_links table { width:90%; margin:0 auto;}
.insight_page #social_links td { text-align:center; }
.insight_page #social_links td.link { width:35%;}
.insight_page #social_links td.link input { width:100%; }
.insight_page #social_links td.social .st_fblike_hcount { position:relative; bottom:15px;}
.insight_page #insight { background-color:#FFF; margin:10px 25px 0 5px; min-height:350px; }
.insight_page #trending_insights { background-color:#FFF; min-height:60px; margin:10px 25px 0 5px; padding:15px;}
.insight_page #trending_insights li { display:inline-block; }
.collections { width:90%; margin:0 auto; padding:20px 0; }
.collection_1 { width:470px; margin:0 auto; }
.collection_2 { float:left; width:48%; margin:0 2px; }
.collection h4 { font-size:150%; color:#FFF; margin:10px 0;}
.collection .visualization { margin-bottom:20px; border:1px solid #1a1a1a; overflow:hidden; text-align:center; vertical-align:middle;}
.collection_1 .visualization { height:250px;}
.collection_2 .visualization { height:192px;}
.collection .search_widget_header { background-color:#1a1a1a; padding:1px; height:26px; }
.collection .search_widget_header img { width:24px; }
.collection .search_results_container { background-color:#222; height:250px;}
.collection .search_results_container { color:#DDD;}
.collection .search_results_container a { color:#FFF; }
.collection .search_results_container .waiting { padding-top:100px; text-align:center;}
.collection .search_results_container .waiting img { position:relative; top:11px; left:5px; }
.collection .search_results_container .jScrollPaneTrack { margin-right:5px; background-color:#1a1a1a;}
.collection .search_results_container .jScrollPaneDrag { background-color:#DDD; }
.collection .search_results { height:244px; overflow:auto; padding:0 5px;}
.collection .search_results li { padding:5px 0 35px 0;; font-size:80%; }

#error_page #error_inner { width:800px; margin:20px auto; text-align:center;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#error_page #error_inner img { width:500px; border:1px solid; }
#error_page #error_inner img.portrait { width:300px; }
#error_page #error_inner h1 { margin:20px; font-size:200%;}

#no_access_page #no_access_inner { width:800px; margin:20px auto; text-align:center;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#no_access_page #no_access_inner img { width:300px; padding:30px 0; }
#no_access_page #no_access_inner h1 { margin:20px; font-size:300%;}
#no_access_page #no_access_inner h2 { margin:20px auto; font-size:200%; width:250px;}
#no_access_page #no_access_inner p { width:400px; margin:0 auto 10px; font-size:120%; text-align:justify;}

#maintenance_page #maintenance_inner { width:800px; margin:20px auto; text-align:center;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#maintenance_page #maintenance_inner img { width:500px; border:1px solid;}
#maintenance_page #maintenance_inner h1 { margin:20px; font-size:300%;}
#maintenance_page #maintenance_inner h2 { margin:20px auto; font-size:200%; width:250px;}
#maintenance_page #maintenance_inner p { width:400px; margin:0 auto 10px; font-size:120%; text-align:center;}

.invite_outer { background-color:#FFF; border:1px solid #DDD; position:fixed; top:70px; left:-11px; padding:2px; }
.invite_outer.over { left:-7px; }
.invite_inner { background:#333; height:120px; width:40px;}
.invite_inner img { position:relative; left:7px; top:4px;}

#invite_page { min-height:500px;}
#invite_page #invite_inner { width:800px; margin:20px auto; text-align:center;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#invite_page #invite_inner img { width:400px; }
#invite_page #invite_inner h1 { margin:30px 10px; font-size:300%;}
#invite_page #invite_inner h2 { margin:20px auto; font-size:200%; width:500px; font-style:italic;}
#invite_page #invite_inner p { width:500px; margin:0 auto 10px; font-size:120%; text-align:center;}
#invite_page #invite_inner form { padding:20px 0;}
#invite_page #invite_inner input[type=text] { width:300px; height:25px; padding: 0 5px;}
#invite_page #invite_inner .errors { width:400px; margin:20px auto 0; text-align:left; }
#invite_page #invite_inner .errors p { width:100%; margin:0; font-size:100%; text-align:left;}

#emails_page { min-height:500px;}
#emails_page_inner { width:816px; margin:20px auto; text-align:center;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#emails_page_inner h1 { margin:20px; font-size:300%;}
#emails_page_inner table { width:90%; margin:0 auto; }
#emails_page_inner table td { padding:10px 0;}
#emails_page_inner table th { text-align:left; padding:10px 0 10px 10px;}
#emails_page_inner .sending_options { text-align:left; width:400px; margin:10px auto; border:1px solid; padding:10px; }
#emails_page_inner .sending_options h3 { padding:10px 0; font-size:120%; }
#emails_page_inner .sending_options textarea { width:90%; }
#emails_page_inner .sending_options .help { font-size:80%; font-style:italic; padding:10px 0;}

#admin_page { min-height:500px; }
#admin_page #admin_inner { width:800px; margin:20px auto;  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF; box-shadow:0px 0px 8px #c7c7c7; -moz-box-shadow:0px 0px 8px #c7c7c7; -webkit-box-shadow:0px 0px 8px #c7c7c7; padding:20px;}
#admin_page h1 { text-align:center; font-size:200%; }
#admin_page h2 { text-align:center; font-size:170%; }
#admin_page h3 { font-size:150%; padding:10px 0;}
#admin_page p { padding:10px 0; }
#admin_page table { width:95%; margin:0 auto; }
#admin_page th { padding:10px 5px; text-align:center; background-color:#DDD;}
#admin_page th.first_column { width:180px;}
#admin_page td { padding:10px 5px; text-align:center; border-right:1px solid #DDD; border-bottom:1px solid #DDD;}
#admin_page .admin_container { padding:20px 10px;}

#admin_page .list_option { width:700px; margin:0 auto; }
#admin_page .list_option p { display:inline-block; width:60%; font-size:120%; font-weight:bold; }


.jspVerticalBar { margin:20px;}
.jspTrack { background-color:#444;}
.jspDrag { background-color:#1a1a1a; }
.jspCap { height:30px;}

a#fdbk_tab { top:205px !important;}
