{% extends 'inputwidget_template.html' %}

{% block widget_content %}

	{% if not widget_config %}
	
		<div class='inputwidget_config'>
			<h2>You need to configure this widget.</h2>
			<div class='tabs'>
				<ul>
					<li><a href='#inputwidget_googlenews_config_tab1'>Search for a keyword</a></li>
				</ul>
				<div id='inputwidget_googlenews_config_tab1'>
					<label>Enter the keyword you want to search for:</label>
					<input type='text' class='search' />
					<a href='javascript:InputwidgetGooglenewsSaveConfig("{{ collection }}")' class='button'>Save this config</a>
				</div>
			</div>
		</div>
	
	{% else %}
		
		<div class='input_widget_content'>
			<a href='javascript:ReconfigureGooglenewsWidget("{{ collection }}")' class='button reconfigure'>configure</a>
			<h2>Google News Search</h2>
			<h3>Searching for keyword {{ widget_config.search }}</h3>
			<div class='inputwidget_contentlist'>
				<ul class='content_list'>
					{% for article in articles %}
						<li class='clearfix'>
							<img class='google_image' src='/media/images/logo-googlenews.png' />
							<span class='title'>{{ article.title }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		
	{% endif %}
	
{% endblock %}