{% extends 'thecommunity/base.html' %}

{% block page_title %}- Sorry we're still in closed beta at the moment{% endblock %}

{% block body_class %}no_access{% endblock %}

{% block page_body %}
    <div id="no_access_page">
        <div id="no_access_inner">
            <img src="/static/images/thecommunity/logo_metalayer_large.jpg" />
            <h1>Thanks for signing-up!</h1>
            {% if code == True %}
                <p>Sorry but the code you entered was either invalid or has been used too many times.</p>
                <p>We're slowly rolling out access to metalayer.com to the general public.</p>
            {% else %}
                <p>
                    We’re slowly rolling out access to metaLayer.com
                    to the general public. Right now it’s only available to invited guests.
                </p>
            {% endif %}
            <p>
                Over the next few days you’ll receive an email inviting you to use the
                credentials you just entered to join. Then you can begin visualizing and
                mashing-up data at will.
            </p>
            <h2>Thanks and we look forward to your feedback soon!</h2>
        </div>
    </div>
{% endblock %}