{% extends 'actionwidget_configure.html' %}
{% block action_widget_config %}
	<p>Filter the contet in this window by sentiment?</p>
	<div class='sentiment_sellection'>
		<div class='form-row'>
			<input type='radio' name='filter' value='any' CHECKED /><img src='/media/images/icon-any.png' />Do not filter by sentiment
		</div>
		<div class='form-row'>
			<input type='radio' name='filter' value='pp' /><img src='/media/images/icon-extremelypositive.png' />Show only extremely positive
		</div>
		<div class='form-row'>
			<input type='radio' name='filter' value='p' /><img src='/media/images/icon-positive.png' />Show only positive
		</div>
		<div class='form-row'>
			<input type='radio' name='filter' value='n' /><img src='/media/images/icon-negative.png' />Show only negative
		</div>
		<div class='form-row'>
			<input type='radio' name='filter' value='nn' /><img src='/media/images/icon-extremelynegative.png' />Show only extremely negative
		</div>
	</div>
	<p>Choose to include or exclude content that doesn't have a sentiment score</p>
	<div class='include_neutral'>
		<div class='form-row'>
			<input type='checkbox' name='include_neutral' checked='CHECKED' />Include content without sentiment?
		</div>
	</div>	
{% endblock %}