{% extends 'base.html' %}

{% block title %}
    Welcome to the metaLayer dashboard
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site/login.css" />
{% endblock %}

{% block body %}

    <div id='page'>

        <div id='login'>
            <h3>Login</h3>
            {% if errors %}
                <div class="alert errors">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {%  endfor %}
                </div>
            {% endif %}
            <form action="{% url dashboard.webapp.views.user_login %}" method="POST">
                {% csrf_token %}
                <div class="form-row clearfix">
                    <label for='username'>Your Email</label>
                    <input type="text" name="username" id='username' />
                </div>
                <div class="form-row clearfix">
                    <label for='password'>Your Password</label>
                    <input type="password" name='password' id='password' />
                </div>
                <div class="action-row clearfix">
                    <input type="submit" class="submit" value="login" />
                </div>
            </form>
        </div>

        <div id='additional_content'>
            <p>here we can show additional marketing content</p>
        </div>

    </div>

{% endblock %}
