{% extends 'administration/base.html' %}

{% block admin_page %}
    <h1>View and Manage Users</h1>
    <div class="admin_container">
        <h2>Registration Statistics</h2>
        <div class="admin_container">
            <h3>Overall Stats</h3>
            <table>
                <tr>
                    <th class="first_column"></th>
                    <th>Total</th>
                    <th>Today &rarr; 7 days ago</th>
                    <th>8 &rarr; 14 days ago</th>
                    <th>15 &rarr; 21 days ago</th>
                    <th>22 &rarr; 28 days ago</th>
                </tr>
                <tr>
                    <th>Registrations</th>
                    <td>{{ registrations_overall_total }}</td>
                    <td>{{ registrations_overall_past_1 }}</td>
                    <td>{{ registrations_overall_past_2 }}</td>
                    <td>{{ registrations_overall_past_3 }}</td>
                    <td>{{ registrations_overall_past_3 }}</td>
                </tr>
            </table>
        </div>
        <div class="admin_container">
            <h3>By Registration Status</h3>
            <table>
                <tr>
                    <th class="first_column"></th>
                    <th>Total users in each registration status</th>
                </tr>
                {% for registration_status in by_registration_status %}
                    <tr>
                        <th>{{ registration_status.name }}</th>
                        <td>{{ registration_status.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="admin_container">
            <h3>Registration Type</h3>
            <table>
                <tr>
                    <th class="first_column"></th>
                    <th>Total people using this registration method</th>
                </tr>
                {% for registration_type in by_registration_type %}
                    <tr>
                        <th>{{ registration_type.name }}</th>
                        <td>{{ registration_type.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <h2>Users Emails</h2>
        <div class="admin_container">
            <h3>Users by email domain</h3>
            <table>
                <tr>
                    <th class="first_column"></th>
                    <th>Total users with this email domain</th>
                </tr>
                {% for domain in user_email_domains %}
                    <tr>
                        <th>{{ domain.name }}</th>
                        <td>{{ domain.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="admin_container">
            <h3>All Users</h3>
            <ul class="users clearfix">
                {% for user in all_users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}