<div class='visual_configure'>
	<div class='{{ visual.type }} {{ visual.id }}'>
		<h2>Configure {{ visual.display_name }}</h2>
		<div class='accordion'>
			{% for type in visual.config.chart_types %}
				<h3><a href='#'>{{ type }}</a></h3>
				<div class='accordion_section'>
					{% for element in visual.config.chart_types.type.elements %}
						<div class='clearfix form_row'>
							<label>{{ element.display_name }}</label>
							<input type='{{ element.type }}' name='{{ element.name }}' value='{{ element.value }}' />
						</div>
					{% empty %}
						<p class='empty_message'>There is no further configuration required for this type of chart</p>
					{% endfor %}
					<a href='JavaScript:SaveVisualConfig("{{ collection_id }}", "{{ visual.type }}", "{{ visual.id }}", "{{ type }}")' class='button'>Save</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
