{% extends 'thecommunity/_oldbase.html' %}

{%  block title %}metaLayer - {{ profile_user.username }}{% endblock %}

{% block js %}
    {{  block.super }}
    <script type="text/javascript" src="/static/js/thecommunity/profile_page.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_my_creations.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_insights_timeline.js"></script>
    <script type="text/javascript">
        $(document).ready
            (
                function()
                {
                    $.get('/static/html/thecommunity/insights/short_summary_for_data.html', function(t) { $.template('short_summary_for_data', t)});
                    $.get('/static/html/thecommunity/insights/short_summary_for_visualization.html', function(t) { $.template('short_summary_for_visualization', t)});
                    $.get('/static/html/thecommunity/insights/insight_footer.html', function(t) { $.template('insight_footer', t)});
                    $.get('/static/html/thecommunity/insights/insight_header.html', function(t) { $.template('insight_header', t)});
                    $('#profile_page').profile_page();
                }
            );
    </script>
{% endblock %}

{% block page_body %}
<div id='page' data-username='{{ profile_user.username }}'>
    <div id='profile_page' class="clearfix">
        <div id='profile_page_left_column'>
            <div id='profile_page_account' class="page_block">
                <div class="page_block_inner">
                    <div id='account_basics' class="clearfix">
                        <img src="/static/images/_thecommunity/no_profile_image.gif" alt='Your profile image' />
                        <div id='username_container'>
                            <h4 {% if profile_user.username|length > 20 %}class='long_user_name'{% endif %}>{{ profile_user.username }}</h4>
                            <p>{{ profile_user_community_values.number_of_insights }} Insights</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.username == profile_user.username %}
            <div id='my_creations' class="page_block">
                <h3><span>My creations</span></h3>
                    <div class="page_block_inner">
                        <ul class="clearfix">
                            <li><li class="waiting">Loading<img src="/static/images/_thecommunity/loading_circle.gif" /></li>
                        </ul>
                        <a id="more_link">more ...</a>
                    </div>
                </div>
            {% endif %}
            <div id='trending_insights' class="page_block">
                <h3><span>Trending Insights</span></h3>
                <div class="page_block_inner">
                    <ul class="clearfix">
                        <li><li class="waiting">Loading<img src="/static/images/_thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id='profile_page_right_column'>
            <div id='insights_timeline' class="page_block">
                <h3><span>Insight timeline</span></h3>
                <div class="page_block_inner">
                    <div id='insights_timeline_header'>
                        {% if user.username == profile_user.username %}
                            <a id='start_new_insight' href="/dashboard/new/1">Start a new insight</a>
                        {% endif %}
                    </div>
                    <ul id='timeline'>
                        <li class="waiting">Loading your timeline <img src="/static/images/_thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}