<div class="action_buttons">
    <ul>
        <li><a class='like_link' data-insight_id='{{ insight.id }}'><img src="/static/images/thecommunity/link_like.jpg" alt="" /></a></li>
        {% ifnotequal profile_user user %}
            {% if user.is_authneticated %}
                <li><a href="/dashboard/remix/{{ insight.id }}"><img src="/static/images/thecommunity/link_rmx.jpg" alt="" /></a></li>
            {% else %}
                <li><a href="/community/welcome"><img src="/static/images/thecommunity/link_rmx.jpg" alt="" /></a></li>
            {% endif %}
        {% else %}
            <li><a href="/dashboard/{{ insight.id }}">edit</a></li>
        {% endifnotequal %}
        <li><a href="/community/{{ profile_user.username }}/{{ insight.id }}"><img src="/static/images/thecommunity/link_share.jpg" alt="" /></a></li>
    </ul>
</div>
<div class="like_links" id="like_links_{{ insight.id }}">
    <div class="social_networks_1 clearfix">
        <table>
            <tr>
                <td class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://metalayer.com/{{ insight.username }}/{{ insight.id }}" data-text="{{ insight.name }}" data-size="small" data-count="none">Tweet</a></td>
                <td class="google"><div class="g-plusone" data-annotation="false" data-href="http://metalayer.com/{{ insight.username }}/{{ insight.id }}"></div></td>
                <td class="facebook"><div class="fb-like" data-href="http://metalayer.com/{{ insight.username }}/{{ insight.id }}" data-send="false" data-show-faces="false" data-font="tahoma" data-layout='button_count'></div></td>
            </tr>
        </table>
    </div>
</div>

