<li class="insight visualization_insight" id="{{ insight.id }}">
    {% include 'thecommunity/profile_page/insight_title.html' %}
    {% include 'thecommunity/profile_page/insight_action_buttons.html' %}
    <div class="image_container">
        <a href="/community/{{ insight.username }}/{{ insight.id }}">
            {% include 'thecommunity/shared/insight_image_scale.html' with width=400 height=300 insight=insight link_type='full' %}
        </a>
    </div>
    {% include 'thecommunity/profile_page/insight_community_values.html' %}
</li>