<div class="insight_templates">
    <div class="insight_templates_header">
        <h2>Templates for insights <a class="show_templates">Show Templates</a></h2>
    </div>
    <div class="introduction">
        <h2>Welcome to metaLayer</h2>
        <p>You can now dive right in and start creating insights by clicking the 'create' link above.</p>
        <p>If however you want a little help getting started, why not try one of our starter insights!</p>
    </div>
    <div class="insight_template twitter">
        <h3>Your own Twitter word art</h3>
        <p>Create an interesting visualization of the things you talk about on twitter.</p>
        <form action='/delv/create_from_template' method="POST">
            {% csrf_token %}
            <input type="hidden" name="template_name" value="twitter_personal_words"/>
            <input type="submit" value="Create this insight" class="button"/>
        </form>
    </div>
    <div class="insight_template twitter">
        <h3>The sentiment of your location</h3>
        <p>Create a chart showing the sentiment towards your country, state or town.</p>
        <form action='/delv/create_from_template' method="POST">
            {% csrf_token %}
            <input type="hidden" name="template_name" value="twitter_sentiment_location"/>
            <input type="submit" value="Create this insight" class="button"/>
        </form>
    </div>
</div>