<div class="action_buttons">
    <ul>
        <li><a class='like_link' data-insight_id='{{ insight.id }}'><img src="/static/images/thecommunity/link_like.jpg" alt="" /></a></li>
        {% ifnotequal profile_user user %}
            {% if user.is_authenticated %}
                <li><a href="/dashboard/remix/{{ insight.id }}"><img src="/static/images/thecommunity/link_rmx.jpg" alt="" /></a></li>
            {% else %}
                <li><a href="/community/welcome"><img src="/static/images/thecommunity/link_rmx.jpg" alt="" /></a></li>
            {% endif %}
        {% endifnotequal %}
        <li><a href="/community/{{ profile_user.username }}/{{ insight.id }}"><img src="/static/images/thecommunity/link_share.jpg" alt="" /></a></li>
    </ul>
</div>
<div class="like_links" id="like_links_{{ insight.id }}">
    <div class="social_networks_1 clearfix">
        {% include 'thecommunity/shared/social_sharing.html' with insight=insight short_url=short_url %}
    </div>
</div>

