{% extends 'thecommunity/base.html' %}

{% block js %}
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/profile_page/profile_page.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('body').profile_page({username:"{{ profile_user.username }}" });

        });
    </script>
{% endblock %}

{% block uncompressed_js %}
    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "69c6c2fe-8907-4984-a615-e46f49074830"}); </script>
{% endblock %}

{% block page_title %}{{ profile_user.username }}{% endblock %}

{% block body_class %}profile_page{% endblock %}

{% block page_body %}
    <div id="fb-root"></div>
    <section id="main_wrapper">
        <section class="main">
            <aside class="left">
                <div class="left_top corner">
                    <div class="profile_image_container">
                        <a class="tool_tip" title="Change you profile image" href="/community/{{ profile_user.username }}/account">
                            {% include 'thecommunity/shared/profile_picture.html' with user=profile_user %}
                        </a>
                    </div>
                    <h2>{{ profile_user.username }}</h2>
                    <span><strong>{{ profile_user.profile.community_values.number_of_insights }}</strong> insights</span>
                </div><!--left_top ends -->

                {% ifequal profile_user user %}
                    <div class="left_mid">
                        <h2>My Creations</h2>
                        <div class="chart_display">
                            <ul>
                                {% for insight in my_creations %}
                                    <li>
                                        {% include 'thecommunity/shared/insight_image_crop.html' with width=81 height=81 insight=insight %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!--chart_display ends -->
                        <div class="clrflt"></div>
                    </div><!--left_mid ends -->
                {% endifequal %}

                <div class="left_bottom">
                    <h2>Trending Insights</h2>
                    <div class="treding_row1">
                        <ul>
                            {% for insight in trending_insights_1 %}
                                <li>
                                    {% include 'thecommunity/shared/insight_image_crop.html' with width=80 height=80 insight=insight %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="treding_row2">
                        <ul>
                            {% for insight in trending_insights_2 %}
                                <li>
                                    {% include 'thecommunity/shared/insight_image_crop.html' with width=80 height=80 insight=insight %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="treding_row3">
                        <ul>
                            {% for insight in trending_insights_3 %}
                                <li>
                                    {% include 'thecommunity/shared/insight_image_crop.html' with width=80 height=80 insight=insight %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div><!--left_bottom ends -->
            </aside><!--aside ends -->

            <div class="container corner">
                {% ifequal profile_user user %}
                    <h2>My Recent Activity</h2>
                {% else %}
                    <h2>{{ profile_user.username }}'s Recent Activity</h2>
                {% endifequal %}
                {% if my_activity|length == 0 %}
                    {% include 'thecommunity/profile_page/insight_templates.html' %}
                {% else %}
                    {% if my_activity|length < 5 %}
                        <div class="minimized">
                            {% include 'thecommunity/profile_page/insight_templates.html' with minimized=True %}
                        </div>
                    {% endif %}
                {% endif %}
                <ul class="activity">
                    {% for insight in my_activity %}
                        {% if insight.has_visualizations %}
                            {% include 'thecommunity/profile_page/insight_visualization.html'  %}
                        {% else %}
                            {% include 'thecommunity/profile_page/insight_data.html'  %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="clrflt"></div>
            </div>
            <div class="clrflt"></div>
        </section>
    </section>
    <div class="clrflt"></div>
{% endblock %}