{% extends 'thecommunity/base.html' %}

{%  block title %}metaLayer - {{ profile_user.username }}{% endblock %}

{% block js %}
    {{  block.super }}
    <script type="text/javascript" src="/static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.templates.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.corner.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_insights_timeline.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_insight.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_my_creations.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_trending_insights.js"></script>
    <script type="text/javascript">
        $(document).ready
            (
                function()
                {
                    $.get('/static/html/thecommunity/insights/short_summary_for_data.html', function(t) { $.template('short_summary_for_data', t)});
                    $.get('/static/html/thecommunity/insights/short_summary_for_visualization.html', function(t) { $.template('short_summary_for_visualization', t)});
                    $.get('/static/html/thecommunity/insights/insight_footer.html', function(t) { $.template('insight_footer', t)});
                    $.get('/static/html/thecommunity/insights/insight_header.html', function(t) { $.template('insight_header', t)});
                    $('#profile_page').profile_page();
                }
            );
    </script>
{% endblock %}

{% block page_body %}
<div id='page' data-username='{{ profile_user.username }}'>
    <div id='profile_page' class="clearfix">
        <div id='profile_page_left_column'>
            <div id='profile_page_account' class="page_block">
                <div class="page_block_inner">
                    <div id='account_basics' class="clearfix">
                        <img src="/static/images/thecommunity/no_profile_image.gif" alt='Your profile image' />
                        <div id='username_container'>
                            <h4 {% if profile_user.username|length > 20 %}class='long_user_name'{% endif %}>{{ profile_user.username }}</h4>
                            <a id="view_my_collection_link">
                                {% if user.username == profile_user.username %}
                                    View my collections
                                {% else %}
                                    View their collections
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <table id='account_statistics'>
                        <tr>
                            <td id='insights'>
                                <p class="number">XX</p>
                                <p class="label">Insights</p>
                            </td>
                            <td id='following'>
                                <p class="number">XX</p>
                                <p class="label">Following</p>
                            </td>
                            <td id='followers'>
                                <p class="number">XX</p>
                                <p class="label">Followers</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" id='status'>
                                <div id='status_container'>
                                    <input type='text' />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id='my_creations' class="page_block">
                <h3>
                    {% if user.username == profile_user.username %}
                        My creations
                    {% else %}
                        Their creations
                    {% endif %}
                </h3>
                <div class="page_block_inner">
                    <ul class="clearfix">
                        <li><li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                    <a id="more_link">more ...</a>
                </div>
            </div>
            <div id='trending_insights' class="page_block">
                <h3>Trending Insights</h3>
                <div class="page_block_inner">
                    <ul class="clearfix">
                        <li><li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id='profile_page_right_column'>
            <div id='insights_timeline' class="page_block">
                <h3>
                    {% if user.username == profile_user.username %}
                        Your insight timeline
                    {% else %}
                        Their insight timeline
                    {% endif %}
                </h3>
                <div class="page_block_inner">
                    <div id='insights_timeline_header'>
                        {% if user.username == profile_user.username %}
                            <a id='start_new_insight' href="/dashboard/new/1">Start a new insight</a>
                        {% endif %}
                    </div>
                    <ul id='timeline'>
                        <li class="waiting">Loading your timeline <img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}