{% extends 'thecommunity/base.html' %}

{%  block title %}metaLayer - {{ profile_user.username }}{% endblock %}

{% block js %}
    {{  block.super }}
    <script type="text/javascript" src="/static/js/thecommunity/profile_page.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_my_creations.js"></script>
    <script type="text/javascript" src="/static/js/thecommunity/profile_page_insights_timeline.js"></script>
    <script type="text/javascript">
        $(document).ready
            (
                function()
                {
                    $.get('/static/html/thecommunity/insights/short_summary_for_data.html', function(t) { $.template('short_summary_for_data', t)});
                    $.get('/static/html/thecommunity/insights/short_summary_for_visualization.html', function(t) { $.template('short_summary_for_visualization', t)});
                    $.get('/static/html/thecommunity/insights/insight_footer.html', function(t) { $.template('insight_footer', t)});
                    $.get('/static/html/thecommunity/insights/insight_header.html', function(t) { $.template('insight_header', t)});
                    $('#profile_page').profile_page();
                }
            );
    </script>
{% endblock %}

<style type='text/css'>
    #right-container {
        display: none;
    }

    #center-container {
        width:800px;
    }

    #infovis {
        width:800px;
    }

    #id-list {
        background-color:#EEEEEE;
        border:1px solid #CCCCCC;
        margin:10px 20px 0 20px;
        padding:5px;
        text-align:left;
        text-indent:2px;
    }

    #id-list li {
        list-style: none;
        margin-bottom:3px;

    }

    .query-color {
        border:1px solid #999999;
        float:left;
        height:10px;
        margin:3px 3px 0 0;
        width:10px;
    }

    #update {
        margin:10px 40px;
    }

    .button {
        display: inline-block;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 14px / 100% Arial, Helvetica, sans-serif;
        padding: 0.5em 1em 0.55em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

        /* gray */
    .gray {
        color: #e9e9e9;
        border: solid 1px #555;
        background: #6e6e6e;
        background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
        background: -moz-linear-gradient(top,  #888,  #575757);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    }

    .gray:hover {
        background: #616161;
        background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
        background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
    }

    .gray:active {
        color: #afafaf;
        background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
        background: -moz-linear-gradient(top,  #575757,  #888);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
    }

        /* white */
    .white {
        color: #606060;
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top,  #fff,  #ededed);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    }

    .white:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
    }

    .white:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    }
</style>

{% block page_body %}
<div id='page' data-username='{{ profile_user.username }}'>
    <div id='profile_page' class="clearfix">
        <div id='profile_page_left_column'>
            <div id='profile_page_account' class="page_block">
                <div class="page_block_inner">
                    <div id='account_basics' class="clearfix">
                        <img src="/static/images/thecommunity/no_profile_image.gif" alt='Your profile image' />
                        <div id='username_container'>
                            <h4 {% if profile_user.username|length > 20 %}class='long_user_name'{% endif %}>{{ profile_user.username }}</h4>
                            <a id="view_my_collection_link">
                                {% if user.username == profile_user.username %}
                                    View my collections
                                {% else %}
                                    View their collections
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <table id='account_statistics'>
                        <tr>
                            <td id='insights'>
                                <p class="number">XX</p>
                                <p class="label">Insights</p>
                            </td>
                            <td id='following'>
                                <p class="number">XX</p>
                                <p class="label">Following</p>
                            </td>
                            <td id='followers'>
                                <p class="number">XX</p>
                                <p class="label">Followers</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" id='status'>
                                <div id='status_container'>
                                    <input type='text' />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if user.username == profile_user.username %}
            <div id='my_creations' class="page_block">
                <h3><span>My creations</span></h3>
                    <div class="page_block_inner">
                        <ul class="clearfix">
                            <li><li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                        </ul>
                        <a id="more_link">more ...</a>
                    </div>
                </div>
            {% endif %}
            <div id='trending_insights' class="page_block">
                <h3><span>Trending Insights</span></h3>
                <div class="page_block_inner">
                    <ul class="clearfix">
                        <li><li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id='profile_page_right_column'>
            <div id='insights_timeline' class="page_block">
                <h3><span>Insight timeline</span></h3>
                <div class="page_block_inner">
                    <div id='insights_timeline_header'>
                        {% if user.username == profile_user.username %}
                            <a id='start_new_insight' href="/dashboard/new/1">Start a new insight</a>
                        {% endif %}
                    </div>
                    <ul id='timeline'>
                        <li class="waiting">Loading your timeline <img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}