<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>dashboard - by metaLayer</title>
	    <link rel='stylesheet' href='/media/css/reset.css' />
	    <link rel='stylesheet' href='/media/css/hacks.css' />
	    <link rel='stylesheet' href='/media/css/jquery-ui.css' />
	    <link rel='stylesheet' href='/media/css/site.css' />
	    <link rel="shortcut icon" href="/media/images/favicon.ico" />
		
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui.js"></script>
	    <script type="text/javascript" src='/core/js'></script>
	    <script type="text/javascript" src='/inputs/js'></script>
	</head>
	<body>
		<div id='page'>
			<div id='header' class='clearfix'>
				<div id='widget_picker' class='clearfix'>
				</div>
			</div>
			<div id='content' class='clearfix'>
				
			</div>
		</div>
	</body>
</html>