<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>dashboard - by metaLayer</title>
	    <link rel='stylesheet' href='/media/css/reset.css' />
	    <link rel='stylesheet' href='/media/css/hacks.css' />
	    <link rel='stylesheet' href='/media/css/jquery-ui.css' />
	    <link rel='stylesheet' href='/media/css/site.css' />
	    <link rel='stylesheet' href='/media/css/login.css' />
	    
	    <link rel="shortcut icon" href="/media/images/favicon.ico" />
		
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui.js"></script>
        <script type="text/javascript" src='/media/js/jquery-jqplot.js'></script>
		<script type="text/javascript" src="/media/js/jqplot-plugins/jqplot.pieRenderer.min.js"></script>
		<script type='text/javascript'>
			$(document).ready(function(){
				$('.button').button();
			})
		</script>
	</head>
	<body>
		<div id='page' class='login_page'>
			<div id='content' class='clearfix'>
				<div id='login_container'>
					{% if registered %}
						<div id='registered'>
							<h2>Thank you for taking the time to register</h2>
							<p>It can take up to 48 hours for your registration to be processed</p>
							<p>Thank you for your interest in this private beta program</p>
						</div>
					{% else %}
						<div id='login'>
							<h2>Login with your email address.</h2>
							{% if login_error %}
								<div class='error'>
									<p>{{ login_error }}</p>
								</div>
							{% endif %}
							<form action='/login' method='get'>
								<input name='email' type='text' />
								<input type='submit' class='button' value='log in' /> 
							</form>
						</div>
					{% endif %}
					<div id='register'>
						<h2>Join the beta waiting list.</h2>
						<a href='http://relaunch.metalayer.com'>waiting list</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>