<div id='input_widgets' class='widget_set'>
	<h2>Feeds</h2>
	<ul class='clearfix'>
		{% for widget in input_widgets %}
			{% include 'html/draggable_widget.html' with widget=widget parent_type='input' %}
		{% endfor %}
	</ul>
</div>
<div id='document_widgets' class='widget_set'>
	<h2>Documents</h2>
	<ul class='clearfix'>
		<li class='draggable_widget csvupload_widget ui-corner-all document_draggable'>
			<span class='parent_type hidden'>document</span>
			<span class='type hidden'>csvupload</span>
			<span class='name'>CSV Upload</span>
		</li>
		<li class='draggable_widget pdfupload_widget ui-corner-all document_draggable'>
			<span class='parent_type hidden'>document</span>
			<span class='type hidden'>pdfupload</span>
			<span class='name'>PDF Upload</span>
		</li>
	</ul>
</div>
<div id='action_widgets' class='widget_set'>
	<h2>Actions/Filters</h2>
	<ul class='clearfix'>
		<li class='draggable_widget sentiment_widget ui-corner-all action_draggable'>
			<span class='parent_type hidden'>action</span>
			<span class='type hidden'>sentiment</span>
			<span class='name'>Sentiment</span>
		</li>
		<li class='draggable_widget taxonomy_widget ui-corner-all action_draggable'>
			<span class='parent_type hidden'>action</span>
			<span class='type hidden'>taxonomy</span>
			<span class='name'>Taxonomy</span>
		</li>
	</ul>
</div>
<div id='chart_widgets' class='widget_set'>
	<h2>Charts</h2>
	<p style='width:100%;text-align:center;font-style:italic;'>TBC</p>
</div>
<div id='output_widgets' class='widget_set'>
	<h2>Outputs</h2>
	<p style='width:100%;text-align:center;font-style:italic;'>TBC</p>
</div>
