<div class='tabs'>
	<ul>
		<li><a href='#input_widgets'>Feeds</a></li>
		<li><a href='#document_widgets'>Documents</a></li>
		<li><a href='#action_widgets'>Actions</a></li>
		<li><a href='#chart_widgets'>Charts</a></li>
	</ul>

	<div id='input_widgets' class='widget_set'>
		<ul class='clearfix'>
			{% for widget in input_widgets %}
				{% include 'html/draggable_widget.html' with widget_type='input' widget=widget %}
			{% endfor %}
		</ul>
	</div>
	
	<div id='document_widgets'></div>
	<div id='action_widgets'></div>
	<div id='chart_widgets'></div>
	
</div>

