<div id='input_widgets' class='widget_set'>
	<h2>Feeds</h2>
	<ul class='clearfix'>
		{% for widget in input_widgets %}
			{% include 'html/draggable_widget.html' with widget=widget parent_type='input' %}
		{% endfor %}
	</ul>
</div>
<div id='document_widgets' class='widget_set'>
	<h2>Documents</h2>
	<p style='width:100%;text-align:center;font-style:italic;'>TBC</p>
</div>
<div id='action_widgets' class='widget_set'>
	<h2>Actions</h2>
	<ul class='clearfix'>
		{% for widget in action_widgets %}
			{% include 'html/draggable_widget.html' with widget=widget parent_type='action' %}
		{% endfor %}
	</ul>
</div>
<div id='chart_widgets' class='widget_set'>
	<h2>Charts</h2>
	<p style='width:100%;text-align:center;font-style:italic;'>TBC</p>
</div>
<div id='output_widgets' class='widget_set'>
	<h2>Outputs</h2>
	<p style='width:100%;text-align:center;font-style:italic;'>TBC</p>
</div>
