<div id='input_widgets' class='widget_set'>
	<ul class='clearfix'>
		{% for widget in input_widgets %}
			{% include 'snippets/draggable_widget.html' with widget_type='input' widget=widget %}
		{% endfor %}
	</ul>
</div>
<!-- 
<div id='action_widgets' class='widget_set'>
	<ul class='clearfix'>
		{% for widget in action_widgets %}
			{% include 'snippets/draggable_widget.html' with widget_type='action' widget=widget %}
		{% endfor %}
	</ul>
</div>
<div id='visual_widgets' class='widget_set'>
	<ul class='clearfix'>
		{% for widget in visual_widgets %}
			{% include 'snippets/draggable_widget.html' with widget_type='visual' widget=widget %}
		{% endfor %}
	</ul>
</div>
-->