<div id='user_home'>
    <div class="container">
        <h3>Home</h3>
        <div id='saved_dashboards'>
            <h4>Choose to reopen a saved dashboard</h4>
            {% if saved_dashboards %}
                <ul class="clearfix">
                    {% for dashboard in saved_dashboards %}
                        <li>
                            <div class='dashboard_summary'>
                                <div class='container'>
                                    <img src="/media/image/no_image_medium.png" class="thumbnail" />
                                    <div class='meta'>
                                        <p class="accessed">Used {{ dashboard.accessed }} time(s)</p>
                                        <p class="last_accessed">Last used: {{ dashboard.last_saved|timesince }}</p>
                                    </div>
                                    <div class="actions">
                                        <a href="{% url dashboard.webapp.views.dashboard dashboard.id %}">load</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert empty">
                    <p>You dont have any saved dashboards yet</p>
                </div>
            {% endif %}
        </div>
        <div id='dashboard_templates'>
            <h4>Or start a new dashboard by choosing a template</h4>
            <ul class="clearfix">
                {% for dashboard in dashboard_templates %}
                    <li>
                        <div class="dashboard_template" id='{{ dashboard.id }}'>
                            <div class="container">
                                <img src="/media/images/{{ dashboard.image }}" class="thumbnail"/>
                                <div class="meta">
                                    <p class="display_name">{{ dashboard.display_name }}</p>
                                    <p class="description">{{ dashboard.description }}</p>
                                </div>
                                <div class="actions">
                                    <a class="load_template">load template</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
