body { background-color:#DDD;}

#login { width:500px; background-color:#666; margin:50px auto 0; color:#FFF; }
#login h3 { text-align:center; font-size:200%; padding:20px 0; }
#login .form-row { padding:5px 60px; }
#login .form-row label { display:block; float:left; width:150px; padding:5px; }
#login .form-row input { width:200px;}
#login .action-row { text-align:center; width:100%; margin:20px 0;}
#login .action-row input { width:300px;}

#login .errors { width:90%; margin:0 auto 20px auto; background-color:#AAA; border:1px solid #FFF;}
#login .errors p { padding:10px; font-size:80%;}

#additional_content { width:90%; margin:100px auto; background-color:#666; }
#additional_content p { padding:50px;}