body { background-color:#DDD;}
.errors { width:90%; margin:0 auto 20px auto; background-color:#AAA; border:1px solid #FFF;}
.errors p { padding:10px; font-size:80%;}

#login_or_register { width:800px; margin:10px auto;}

#login, #register { background-color:#666; color:#FFF; }
h3 { text-align:center; font-size:200%; padding:20px 0; }
.form-row { padding:5px 60px; }
.form-row label { display:block; float:left; width:150px; padding:5px; }
.form-row input { width:200px;}
.action-row { text-align:center; width:100%; margin:20px 0;}
.action-row input { width:300px;}

