.errors { border:1px solid #933; background-color:#C96; color:#000; padding:2px; }
.form_row .errors { padding:0px; font-size:80%; margin:5px 0;}


/***********************************************************************************************************************
HEADER
***********************************************************************************************************************/
#header { width:100%; background-color:#333; color:#DDD; text-align:right; }
#header_links { padding:5px; }
#header_links a { display:inline-block; padding:0 5px;}
#header_links #user_home_link { display:none; }

/***********************************************************************************************************************
USER HOME PAGE
***********************************************************************************************************************/
#user_home { width:80%; margin:20px auto 0 auto; background-color:#666; color:#FFF;}
#user_home .container { padding:20px;}
#user_home h3 { text-align:center; font-size:200%; margin:20px 0;}
#user_home h4 { margin:40px 0 10px; font-weight:normal; font-size:150%;}
#user_home .list-container { border:2px solid #FFF; background-color:#DDD; color:#666; width:100%; height:150px;overflow:auto;}
#user_home ul li .container { padding:5px;}
#user_home ul li { width:150px; height:150px; float:left; text-align:center; margin:0 5px;}
#user_home ul li img.thumbnail { border:1px solid; width:120px; height:90px; display:inline-block; }
#user_home ul li .meta { font-size:80%;}

/***********************************************************************************************************************
DASHBOARD
***********************************************************************************************************************/
#dashboard { display:none; }
#widget_panel { height:130px; background-color:#DDD; padding:5px; }

.data_point_widget { width:200px; background-color:#333; text-align:center; color:#DDD; margin:5px; cursor:pointer;}

.collection_container { display:inline-block; color:#DDD; }
.collections_2 { width:50%;}
.empty_collection, .search_widget_container { margin:2px; background-color:#666; height:300px; overflow:auto}


.empty_collection p { text-align:center; font-size:180%; color:#DDD; padding-top:130px;}

.data_point_droppable_active { border:2px solid red; }

.data_point_config { padding:20px; }
.data_point_config .image_and_title { height:100px; overflow:hidden; }
.data_point_config .image_and_title img { width:100px; display:inline-block; }
.data_point_config .image_and_title h3 { display:inline-block; font-size:250%; position:relative; bottom:50px; }
.data_point_config .instructions { color:#BBB; padding:10px; font-style:italic; }
.data_point_config .form_row label { display:inline-block; width:45%; }
.data_point_config .form_row input { display:inline-block; width:53%; }
.data_point_config .form_row .help { color:#BBB; font-size:80%; padding-left:20px;}
.data_point_config .form_actions { text-align:center; margin-top:20px;}
.data_point_config .form_actions input { width:48%; padding:5px; }

.search_widget .options_container { float:right; padding:2px; }
.search_widget .options_container img { width:20px; }

.search_widget .data_points_container { background-color:#333; padding:2px; }
.search_widget .data_points_container img { width:20px; }
.search_widget .data_points_container .data_points_summary li { display:inline-block }
.search_widget .data_points_container .data_points_details { padding-top:25px; }
.search_widget .data_points_container .data_points_details .display_name { position:relative; bottom:5px; left:5px;}
.search_widget .data_points_container .data_points_details .actions { float:right;}

.search_widget .search_results_header { background-color:#444; padding:2px;}
.search_widget .search_results_header .filters_link { float:right;}
.search_widget .search_results_header .filters { padding:15px 5px; }
.search_widget .search_results_header .filters .filter_row { padding:10px; }
.search_widget .search_results_header .filters .filter_row .filter_name { display:inline-block; width:48%; }
.search_widget .search_results_header .filters .filter_row input[type=text] { display:inline-block; width:48%; }
.search_widget .search_results_header .filters .filter_actions { padding-top:5px; }
.search_widget .search_results_header .filters .filter_actions input { display:inline-block; width:48%; padding:2px; }

.search_widget .content_items { padding:0 5px;}
.search_widget .content_items li { margin-bottom:5px; padding-bottom:5px; }
