{% load custom_tags %}
<div class='input_widget'>
	<div class='inputs actions'>
		<a href='JavaScript:ToggleInputWidget("{{ collection_id }}")' class='toggle_button'>
			{% if collapsed %}<img src='/media/images/icon-max.png' alt='Maximise' />{% else %}<img src='/media/images/icon-min.png' alt='Minimise' />{% endif %}
		</a>
		<a href='JavaScript:RemoveInputWidget("{{ collection_id }}")' class='remove_button'>
			<img src='/media/images/icon-cross.png' />
		</a>
		<a href='JavaScript:alert("In later releases,\nyou will be able to turn auto refreshing on and off.");' class='refresh_button'>
			<img src='/media/images/icon-clock.png' />
		</a>		
		<a href='JavaScript:ToggleSearch("{{ collection_id }}");' class='search_button'>
			<img src='/media/images/icon-search.png' />
		</a>		
		<ul class='full'>
			{% for input in inputs %}
				<li class='{{ input.type }} clearfix'>
					<div class='actions'>
						<a href='JavaScript:ReconfigureInput("{{ collection_id }}", "{{ input.id }}", "{{ input.type }}")'><img src='/media/images/icon-config.png' title='configure'/></a>
						<a href='JavaScript:RemoveInput("{{ collection_id }}", "{{ input.id }}")' ><img src='/media/images/icon-cross.png' title='remove' /></a>
					</div>
					<span class='display_name'>{{ input.display_name|safe|cut:"http://"|cut:"https://"|truncate_chars:35 }}</span>
				</li>
			{% endfor %}
			{% for action in actions %}
				<li class='{{ action.type }} clearfix'>
					<div class='actions'>
						{% if action.config.elements %}
							<a href='JavaScript:ReconfigureAction("{{ collection_id }}", "{{ action.id }}", "{{ action.type }}")'><img src='/media/images/icon-config.png' title='configure'/></a>
						{% endif %}
						<a href='JavaScript:RemoveAction("{{ collection_id }}", "{{ action.id }}", "{{ action.type }}")' ><img src='/media/images/icon-cross.png' title='remove' /></a>
					</div>
					<span class='display_name'>{{ action.display_name|safe|truncate_chars:35 }}</span>
				</li>
			{% endfor %}
		</ul>
		<ul class='summary clearfix'>
			<li class='title clearfix'><span>INPUTS:</span></li>
			{% for input in inputs %}
				<li class='{{ input.type }} clearfix' title='{{ input.display_name|safe|cut:"http://"|cut:"https://"|truncate_chars:35 }}'>&nbsp;</li>
			{% endfor %}
		</ul>
		<ul class='summary clearfix'>
			<li class='title clearfix' {% if not actions %}style='display:none'{% endif %}><span>ACTIONS:</span></li>
			{% for action in actions %}
				<li class='{{ action.type }} clearfix' title='{{ action.display_name|safe|truncate_chars:35 }}'>&nbsp;</li>
			{% endfor %}
		</ul>
		<div class='input_or_action_widget_droppable hidden'><p class='drop_prompt'>drag extra inputs or actions here</p></div>
		<form class='search ui-corner-all hidden'>
			<h3>search and filter this content</h3>
			{% if sentiment_filter %}		
				<div class='search_control clearfix sentiment'>
					<h4>show sentiment</h4>
					<div class='radio_group control'>
						<input {% if sentiment_filter == 'all' %}checked='CHECKED'{% endif %} type='radio' id='search_sentiment_{{ collection_id }}_1' name='search_sentiment'/><label for='search_sentiment_{{ collection_id }}_1'>all</label>
						<input {% if sentiment_filter == 'p' %}checked='CHECKED'{% endif %} type='radio' id='search_sentiment_{{ collection_id }}_2' name='search_sentiment'/><label for='search_sentiment_{{ collection_id }}_2'>+</label>
						<input {% if sentiment_filter == 'o' %}checked='CHECKED'{% endif %} type='radio' id='search_sentiment_{{ collection_id }}_3' name='search_sentiment'/><label for='search_sentiment_{{ collection_id }}_3'>o</label>
						<input {% if sentiment_filter == 'n' %}checked='CHECKED'{% endif %} type='radio' id='search_sentiment_{{ collection_id }}_4' name='search_sentiment'/><label for='search_sentiment_{{ collection_id }}_4'>-</label>
					</div>
				</div>
			{% endif %}
			{% if faces_filter %}
				<div class='search_control clearfix faces'>
					<h4>pictures with faces</h4>
					<div class='radio_group control'>
						<input {% if faces_filter == 'all' %}checked='CHECKED'{% endif %} type='radio' id='search_faces_{{ collection_id }}_1' name='search_faces'/><label for='search_faces_{{ collection_id }}_1'>all</label>
						<input {% if faces_filter == 'with' %}checked='CHECKED'{% endif %} type='radio' id='search_faces_{{ collection_id }}_2' name='search_faces'/><label for='search_faces_{{ collection_id }}_2'>with</label>
						<input {% if faces_filter == 'without' %}checked='CHECKED'{% endif %} type='radio' id='search_faces_{{ collection_id }}_3' name='search_faces'/><label for='search_faces_{{ collection_id }}_3'>without</label>
					</div>
				</div>
			{% endif %}
			{% if not faces_filter and not sentiment_filter %}
				<div class='no_search_message'>
					<p>There are no filter options available yet, why not add an action or two?</p>
				</div>
			{% else %}
				<div class='submit search_control'>
					<a href='JavaScript:SaveSearch("{{ collection_id }}");' class='button'>apply these filters</a>
				</div>
			{% endif %}
		</form>
	</div>
	<div class='content {% if collapsed %}hidden{% endif %}'>
		<ul>
			{% for item in content %}
				<li class='{{ item.type }} clearfix content_item'>
					{% if item.has_faces %}
						<img class='has_faces' src='/media/images/icon-face.png' />
					{% endif %}
					<div class='content_item_details'>
						{% if item.sentiment  %}
							{% if item.sentiment == 0 %}
								<span class='sentiment sentiment-flat' title='sentiment: neutral'><span class='sentiment-text'><span class='sentiment-title'>sentiment:</span> neutral</span></span>
							{% else %}
							    {% if item.sentiment > 0 %}
									<span class='sentiment sentiment-positive' title='sentiment: positive'><span class='sentiment-text'><span class='sentiment-title'>sentiment:</span>positive</span></span>
							    {% else %}
									<span class='sentiment sentiment-negative' title='sentiment: negative'><span class='sentiment-text'><span class='sentiment-title'>sentiment:</span>negative</span></span>
							    {% endif %}
							{% endif %}
						{% endif %}
						<img src='{{ item.image_url }}' />
						<span class='author'>{{ item.author }}</span>
						<span class='title'>{{ item.title }}</span>
					</div>
					{% if item.tags %}
						<ul class='tags clearfix'>
							<li class='title'>tags:</li>
							{% for tag in item.tags %}
								<li>{{ tag }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class='visuals'>
		<div class='visual_droppable'><p class='drag_message'>drag visuals here</p></div>
		{% for visual in visuals %}
			{{ visual|safe|cut:'Content-Type: text/html; charset=utf-8' }}
			<div class='visual_droppable'><p class='drag_message'>drag visuals here</p></div>
		{% endfor %}
	</div>
	<div class='outputs'>
		{% for output in outputs %}
			{{ output|safe|cut:'Content-Type: text/html; charset=utf-8' }}
		{% endfor %}
		<div class='output_droppable'><p class='drag_message'>drag outputs here</p></div>
	</div>
</div>