<div class='input_widget_config'>
	<div class='{{ input.type }}'>
		<div class='inner ui-corner-all'>
			<a href='JavaScript:CancelInputWidgetConfig("{{ collection_id }}", "{{ input.id }}")' class='cancel'><img src='/media/images/icon-cross.png' /></a>
			<input type='hidden' name='collection_id' value='{{ collection_id }}' />
			<input type='hidden' name='type' value='{{ input.type }}' />
			<input type='hidden' name='id' value='{{ input.id }}' />
			<h2>{{ input.display_name }}</h2>
			<h3>You need to configure this widget.</h3>
			{% for element in input.config.elements %}
				<div class='clearfix form_row'>
					<label>{{ element.display_name }}</label>
					<input type='{{ element.type }}' name='{{ element.name }}' value='{{ element.value }}' />
				</div>
			{% endfor %}
			<a href='JavaScript:SaveInputWidgetConfig("{{ collection_id }}")' class='button'>Save</a>
		</div>
	</div>
</div>
