{% load custom_tags %}
<div class='input_widget'>
	<div class='inputs'>
		<ul>
			{% for input in inputs %}
				<li class='{{ input.type }} clearfix'>
					<div class='actions'>
						<a href='JavaScript:ReconfigureInput("{{ collection_id }}", "{{ input.id }}", "{{ input.type }}")'><img src='/media/images/icon-config.png' title='configure'/></a>
						<a href='JavaScript:RemoveInput("{{ collection_id }}", "{{ input.id }}")' ><img src='/media/images/icon-cross.png' title='remove' /></a>
					</div>
					<span class='display_name'>{{ input.display_name|safe|cut:"http://"|cut:"https://"|truncate_chars:35 }}</span>
				</li>
			{% endfor %}
			<li class='input_widget_droppable'><p class='drop_prompt'>drag extra input widgets here</p></li>
		</ul>
	</div>
	<div class='content'>
		<ul>
			{% for item in content %}
				<li class='{{ item.type }} clearfix'>
					<img src='{{ item.image_url }}' />
					<span class='author'>{{ item.author }}</span>
					<span class='title'>{{ item.title }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>