<div id='login'>
    <div class='container'>
        <h3>Login</h3>
        {% if errors %}
            <div class="alert errors">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {%  endfor %}
            </div>
        {% endif %}
        <form action="{% url dashboard.userprofiles.views.user_login %}" method="POST">
            {% csrf_token %}
            <label for='username'>Your Email</label>
            <input type="text" name="username" id='username' />
            <label for='password'>Your Password</label>
            <input type="password" name='password' id='password' />
            <input type="submit" class="submit" value="login" />
        </form>
    </div>
</div>