<form class="purchase_form">
    <div class="error_container"></div>
    <div class="form-row {% if user.first_name %}hidden{% endif %}">
        <label>Your First Name:</label>
        <input type="text" name='first_name' class="first_name" value="{{ user.first_name }}" />
    </div>
    <div class="form-row {% if user.last_name %}hidden{% endif %}">
        <label>Your Last Name:</label>
        <input type="text" name='last_name' class="last_name" value="{{ user.last_name }}" />
    </div>
    <div class="form-row">
        <label>Credit Card Number:</label>
        <input type="text" name='credit_card_number' class="credit_card_number" />
    </div>
    <div class="form-row">
        <label>Expiry Month:</label>
        <select name='credit_card_expiry_month' class='credit_card_expiry_month'>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="form-row">
        <label>Expiry Year:</label>
        <select name='credit_card_expiry_year' class='credit_card_expiry_year'>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
    </div>
    <div class="action-row">
        <input type="submit" value="forget it" class="cancel" />
        <input type="submit" value="upgrade me" class="submit" />
    </div>
</form>