body { background-color:#DDD; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:80%; }
html {}
a { cursor:pointer; text-decoration:none; color:inherit; font-weight:bold;}
a:hover { text-decoration:underline; }
.container { padding:10px;}

.alert p { padding:10px; }
.empty { border:2px solid; background-color:#696; color:#333;}

/**********************************************************************************************************************/
/* HEADER                                                                                                             */
/**********************************************************************************************************************/
#page_header { background-color:#333; height:35px; }
#page_header #logo_container { width:55%; float:left; overflow:hidden; }
#page_header #logo_container img { height:20px; position:relative; top:5px; left:5px;}
#page_header #header_links_container { width:40%; float:right; text-align:right; padding:9px; color:#fff; }
#page_header #header_links_container a { display:inline-block; padding-left:10px;}
#page_header #personal_menu { background-color:#333; width:130px; position:absolute; right:30px; top:32px; display:none;}
#page_header #personal_menu a { display:block; text-align:left; padding:5px;}

/**********************************************************************************************************************/
/* PAGE                                                                                                               */
/**********************************************************************************************************************/
#page_container { }
#page { width:1000px; margin:0 auto; background-color:#DDD; padding:10px; }
