body { background-color:#69F; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:80%; height:100%; padding-top:35px;}
html { height:100%; overflow:hidden; }
a { cursor:pointer; text-decoration:none; color:inherit; font-weight:bold;}
a:hover { text-decoration:underline; }
.container { padding:10px;}

.alert p { padding:10px; }
.empty { border:2px solid; background-color:#696; color:#333;}

/**********************************************************************************************************************/
/* HEADER                                                                                                             */
/**********************************************************************************************************************/
#page_header { background-color:#333; height:35px; position:absolute; top:0; left:0; width:100%; }
#page_header #logo_container { width:33%; float:left; }
#page_header #logo_container img { height:20px; position:relative; top:5px; left:5px;}
#page_header #search_container { width:30%; text-align:center; padding: 5px 0 0 33%;}
#page_header #search_container input[type=text] { width:250px;}
#page_header #header_links_container { width:33%; float:right; text-align:right; padding:9px; color:#fff; }
#page_header #header_links_container a { display:inline-block; padding-left:10px;}

/**********************************************************************************************************************/
/* PAGE                                                                                                               */
/**********************************************************************************************************************/
#page_container { height:100%; overflow:auto; padding-bottom:20px;}
#page { width:1000px; margin:0 auto; background-color:#DDD; padding:10px; }
#page .page_block { background-color:#FFF;}
#page .page_block .page_block_inner { padding:10px;}
#page .page_block h3 { font-size:200%; margin-bottom:10px;}
#footer { width:1000px; margin:0 auto; background-color:#DDD; padding:10px; }
#footer dl { float:left; width:30%;}
#footer dl dt { font-size:180%; margin-bottom:10px; }
#footer dl dd { padding:5px;}