/**********************************************************************************************************************/
/* INSIGHT PAGE                                                                                                          */
/**********************************************************************************************************************/
.insight_page #user_details h3 { font-size:250%;}
.insight_page #user_details { padding:10px;}
.insight_page #user_details .description { width:48%; float:left;}
.insight_page #user_details .description h4 { font-size:180%; margin-bottom:10px;}
.insight_page #user_details table { width:48%; float:right;}
.insight_page #user_details table th { width:25%; padding:10px; background-color:#333;}
.insight_page #user_details table td { padding:10px;}
.insight_page #collections_container { margin:10px auto; width:900px; }
.collection_1 { width:98%; margin:0 auto; }
.collection_2 { float:left; width:48%; margin:0 2px; }
.collection h4 { font-size:150%; color:#FFF; margin:10px 0;}
.collection .visualization { background-color:#222; margin-bottom:20px; border:1px solid #1a1a1a; overflow:hidden;}
.collection .search_widget_header { background-color:#1a1a1a; padding:1px; height:26px; }
.collection .search_widget_header img { width:24px; }
.collection .search_results_container { background-color:#222; height:250px;}
.collection .search_results_container { color:#DDD;}
.collection .search_results_container .waiting { padding-top:100px; text-align:center;}
.collection .search_results_container .waiting img { position:relative; top:11px; left:5px; }
.collection .search_results_container .jScrollPaneTrack { margin-right:5px; background-color:#1a1a1a;}
.collection .search_results_container .jScrollPaneDrag { background-color:#DDD; }
.collection .search_results { height:244px; overflow:auto; padding:0 5px;}
.collection .search_results li { padding:5px 0 35px 0;; font-size:80%; }
.insight_page #trending_insights { margin:50px 0;}

.errors { width:90%; margin:0 auto 20px auto; background-color:#FC3; border:2px solid #C60; color:#000;}
.errors p { padding:10px; font-size:80%;}
.form-row { padding:5px 60px; }
.form-row label { display:block; float:left; width:150px; padding:5px; }
.form-row input { width:200px;}
.action-row { text-align:center; width:100%; margin:20px 0;}
.action-row input { width:300px;}

/**********************************************************************************************************************/
/* PAGE                                                                                                               */
/**********************************************************************************************************************/
#page .page_block { color:#DDD; background-color:#1a1a1a; }
#page .page_block .page_block_inner { padding:10px;}
#page .page_block h3 { height:40px; padding:0; margin-left:20px; font-size:150%; }
#page .page_block h3 span { display:none; }
#footer { width:1000px; margin:0 auto; padding:10px; color:#AAA;}
#footer dl { float:left; width:20%; margin-left:10%;}
#footer dl dt { font-size:180%; margin-bottom:10px; }
#footer dl dd { padding:5px;}

/**********************************************************************************************************************/
/* INSIGHTS                                                                                                            */
/**********************************************************************************************************************/
.insight { margin:10px; background-color:#333; }
.insight .visualization { text-align:center;}
.insight .visualization .no_image { width:486px; height:220px; margin-top:5px;}
.insight .waiting { padding:30px 0 40px 0; text-align:center;}
.insight .waiting img { position:relative; top:9px; left:5px;}
.insight ul.data li {display:inline-block; }
.insight ul.data li img { width:100px; margin:10px; }
.insight .insight_header { color:#FFF; padding:2px;}
.insight .insight_header h4 { font-size:100%; padding:5px;}
.insight .insight_header h4 .insight_name { display:inline-block; margin-right:10px; max-width:300px; line-height:120%;}
.insight .insight_header h4 .last_accessed { display:inline-block; font-weight:normal; font-style:italic;}
.insight .insight_header .insight_actions { text-align:right; padding:5px; float:right;}
.insight .insight_footer table { width:100%; margin-top:5px;}
.insight .insight_footer table td { padding:15px; color:#DDD; text-align:center;}

.insight_thumbnail { background-color:#333; height:75px; width:100px; overflow:hidden; display:block; }
.insight_thumbnail.images_1 img { width:65px; height:65px; padding:4px 17px;}
.insight_thumbnail.images_2 img { width:40px; height:40px; padding:16px 5px}
.insight_thumbnail.images_3 img { width:18px; height:18px; padding:2px;}
.insight_thumbnail.images_4 img { width:33px; height:33px; padding:3px 8px 0;}

.insight_medium { background-color:#333; height:260px; width:350px; overflow:hidden; display:block; }
.insight_medium canvas { margin:20px;}
.insight_medium.images_1 img { width:250px; height:250px; padding:4px 50px;}
.insight_medium.images_2 img { width:40px; height:40px; padding:16px 5px}
.insight_medium.images_3 img { width:18px; height:18px; padding:2px;}
.insight_medium.images_4 img { width:120px; height:120px; padding:5px 21px;}

#trending_insights h3 { background:url('/static/images/thecommunity/text_page_block_h3_whats_trending.png') no-repeat; }
#trending_insights { overflow:hidden; }
#trending_insights ul li { float:left; padding:4px;}
#trending_insights ul li.waiting { padding:5% 0 0 35%}
#trending_insights ul li.waiting img { width:31px; height:31px; position:relative; top:9px; left:4px;}

#live_insight_container { height:650px; }
#live_insight_container h3 { font-size:150%; padding:10px 0 !important;}
#live_insight_container #metadata_table { width:90%; margin:0 auto; border:1px solid #333;}
#live_insight_container #metadata_table th { text-align:right; padding:10px; width:25%; background-color:#333; }
#live_insight_container #metadata_table td { width:25%; padding:10px; }
#live_insight_container .live_insight { width:600px; margin:10px auto; display:block; height:500px; background-color:#333; }

/**********************************************************************************************************************/
/* COMMUNITY                                                                                                          */
/**********************************************************************************************************************/
#top_insights { margin-top:0;}
#top_insights h3 span { display:none;}
#top_insights h3 { background:url('/static/images/thecommunity/text_page_block_h3_top_insight_of_the_day.png') no-repeat; }
#top_insights .left_column { float:left; width:49%; }
#top_insights .left_column .left_column { width:115px; }
#top_insights .left_column .left_column ul li { padding:0 2px 15px;}
#top_insights .left_column .right_column { width:362px; }
#top_insights .right_column { float:right; width:49%; }
#top_insights .right_column p { font-size:120%; font-style:italic; margin-bottom:10px;}
#top_insights .right_column #video_container { text-align:center; }

#main_body .left_column { float:left; width:49%; }
#main_body .right_column { float:right; width:49%; }
#main_body .main_body_section { height:220px; overflow:hidden; margin:15px 0;}

#sign_up_promo { color:#FFF;}
#sign_up_promo h5 { font-size:150%; text-align:center; margin-top:20px; }
#sign_up_promo a { text-align:center; display:block;}
#sign_up_promo a img { display:block; width:300px; height:100px; margin:10px auto;}

#brows_by_category h3 { background:url('/static/images/thecommunity/text_page_block_h3_browse_by_category.png') no-repeat; }
#brows_by_category ul li { float:left; width:45%; font-size:120%; padding:6px;}

#trending_insights.main_body_section li { padding:2px 8px;}

#recent_activity h3 { background:url('/static/images/thecommunity/text_page_block_h3_recent_changes.png') no-repeat; }
#recent_activity { overflow:hidden; }
#recent_activity ul li { float:left; padding:2px 8px;}
#recent_activity ul li.waiting { padding:5% 0 0 35%}
#recent_activity ul li.waiting img { width:31px; height:31px; position:relative; top:9px; left:4px;}


/**********************************************************************************************************************/
/* LOGIN AND REGISTER                                                                                                 */
/**********************************************************************************************************************/
.login_or_register_page { min-height:100%;}
#login_or_register { width:1000px; margin:15px auto; }
#login_or_register td { padding:0 15px;}
#login { background-color:#FFF; color:#000; }
#login h3change_subscriptions { text-align:center; font-size:200%; padding:20px 0; }
#register { background-color:#FFF; color:#000; }
#register h3 { text-align:center; font-size:200%; padding:20px 0; }

/**********************************************************************************************************************/
/* PROFILE                                                                                                            */
/**********************************************************************************************************************/
#profile_page_left_column { width:350px; float:left;}
#profile_page_left_column .page_block { margin-bottom:5px;}
#profile_page_right_column { width:645px; float:right;}

#profile_page_account #account_basics img { width:48px; vertical-align:text-top; box-shadow: 3px 3px 3px #111; margin-right:5px;}
#profile_page_account #account_basics #username_container { float:right; width:270px; }
#profile_page_account #account_basics #username_container h4 { width:220px; overflow:hidden; margin-bottom:5px; height:27px; font-size:130%;}
#profile_page_account #account_basics #username_container h4.long_user_name { font-size:80%; }
#profile_page_account #account_basics #username_container a#view_my_collection_link { color:#999; }
#profile_page_account #account_statistics { width:100%; margin-top:20px; color:#DDD;}
#profile_page_account #account_statistics td { padding:5px; }
#profile_page_account #account_statistics td#insights,
#profile_page_account #account_statistics td#following,
#profile_page_account #account_statistics td#followers { border-top:1px solid #333; border-bottom:1px solid #333;}
#profile_page_account #account_statistics td#following { border-left:1px solid #333; border-right:1px solid #333;}
#profile_page_account #account_statistics td#status { padding:5px; border-bottom:1px solid #333;}
#profile_page_account #account_statistics td#status #status_container { background-color:#333; padding:10px; }
#profile_page_account #account_statistics td#status #status_container input[type=text] { width:290px; }
#profile_page_account #account_statistics td .number { font-weight:bold; font-size:150%; margin-bottom:5px;}

#profile_page #my_creations { overflow:hidden; height:150px; position:relative;}
#profile_page #my_creations h3 { background:url('/static/images/thecommunity/text_page_block_h3_my_creations.png') no-repeat;}
#profile_page #my_creations ul li { float:left; margin:4px; }
#profile_page #my_creations ul li.waiting { padding:20px 0 0 100px}
#profile_page #my_creations ul li.waiting img { width:31px; height:31px; position:relative; top:9px; left:4px;}
#profile_page #my_creations #more_link { display:block; text-align:right; color:#AAA; padding-right:15px; display:none;}

#profile_page #trending_insights { height:320px; position:relative; }

#profile_page #insights_timeline { height:663px;}
#profile_page #insights_timeline h3 { background:url('/static/images/thecommunity/text_page_block_h3_insight_timeline.png') no-repeat; }
#profile_page #insights_timeline_header { padding-bottom:10px; text-align:right;}
#profile_page #insights_timeline_header #start_new_insight { }
#profile_page #insights_timeline ul#timeline { overflow:auto; height:555px; }
#profile_page #insights_timeline ul#timeline li.waiting { padding:150px 0 0 200px; }
#profile_page #insights_timeline ul#timeline li.waiting img { position:relative; top:9px; left:5px;}
#profile_page #insights_timeline .remixes_link.active { cursor:pointer;}
#profile_page #insights_timeline .remixes_link.active:hover { text-decoration:underline; }
#profile_page #insights_timeline .remixes { background-color:#222;}
#profile_page #insights_timeline .remixes ul li { padding:10px;}


/**********************************************************************************************************************/
/* ACCOUNT                                                                                                            */
/**********************************************************************************************************************/
#account_page .left_column { float:left; width:49%; }
#account_page .right_column { float:right; width:49%; }

#account_page #account_management_container .waiting p { padding:150px 0; text-align:center; }
#account_page #account_management_container .waiting p img { position:relative; top:11px; left:2px;}
#account_page #account_management { }
#account_page #account_management h4 { padding:4px; color:#000; margin:10px 0;}
#account_page #account_management .subscription_image { float:left; width:20%; margin-bottom:10px;}
#account_page #account_management .subscription_details { float:right; width:79%; }
#account_page #account_management .subscription_details h5 { font-size:150% }
#account_page #account_management .subscription_details p { padding:5px 0 0 0; font-weight:bold;}

#account_page .subscription_downgrade_upgrade .errors { margin-bottom:10px;}
#account_page .subscription_downgrade_upgrade p { font-weight:bold; padding-bottom:5px; }
#account_page .subscription_downgrade_upgrade li { padding:0 0 10px 10px; }
#account_page .subscription_downgrade_upgrade .form-row label { display:inline-block; width:30%}
#account_page .subscription_downgrade_upgrade .action-row input { width:45%;}
#account_page .subscription_downgrade_upgrade button { width:45%;}