body { background-color:#69F; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:80%; height:100%; padding-top:35px;}
html { height:100%; overflow:hidden; }

.errors { width:90%; margin:0 auto 20px auto; background-color:#FC3; border:2px solid #C60; color:#000;}
.errors p { padding:10px; font-size:80%;}
.form-row { padding:5px 60px; }
.form-row label { display:block; float:left; width:150px; padding:5px; }
.form-row input { width:200px;}
.action-row { text-align:center; width:100%; margin:20px 0;}
.action-row input { width:300px;}


/**********************************************************************************************************************/
/* HEADER                                                                                                             */
/**********************************************************************************************************************/
#page_header { background-color:#333; height:35px; position:absolute; top:0; left:0; width:100%; }
#page_header #logo_container { width:33%; float:left; }
#page_header #logo_container img { height:20px; position:relative; top:5px; left:5px;}
#page_header #search_container { width:30%; text-align:center; padding: 5px 0 0 33%;}
#page_header #search_container input[type=text] { width:250px;}
#page_header #header_links_container { width:33%; float:right; text-align:right; padding:9px; color:#fff; }
#page_header #header_links_container a { display:inline-block; padding-left:10px;}

/**********************************************************************************************************************/
/* PAGE                                                                                                               */
/**********************************************************************************************************************/
#page_container { height:100%; overflow:auto; padding-bottom:20px;}
#page { width:1000px; margin:0 auto; background-color:#DDD; padding:10px; }
#page .page_block { background-color:#FFF;}
#page .page_block .page_block_inner { padding:10px;}
#page .page_block h3 { font-size:200%; margin-bottom:10px;}
#footer { width:1000px; margin:0 auto; background-color:#DDD; padding:10px; }
#footer dl { float:left; width:30%;}
#footer dl dt { font-size:180%; margin-bottom:10px; }
#footer dl dd { padding:5px;}

/**********************************************************************************************************************/
/* COMMUNITY                                                                                                          */
/**********************************************************************************************************************/
#top_insights { margin-top:0;}
#top_insights .left_column { float:left; width:49%; }
#top_insights .left_column .left_column { width:115px; }
#top_insights .left_column .left_column ul li { padding:0 2px 10px;}
#top_insights .left_column .left_column ul li img { height:82px; width:110px;}
#top_insights .left_column .right_column { width:362px; }
#top_insights .left_column .right_column img { width:360px; height:270px; }
#top_insights .right_column { float:right; width:49%; }
#top_insights .right_column p { font-size:120%; font-style:italic; margin-bottom:10px;}
#top_insights .right_column #video_container { }
#top_insights .right_column #video_container img { width:478px; height:230px;}

#main_body .left_column { float:left; width:49%; }
#main_body .right_column { float:right; width:49%; }
#main_body .main_body_section { height:220px; overflow:hidden; margin:15px 0;}

#sign_up_promo h5 { font-size:150%; text-align:center; margin-top:20px; }
#sign_up_promo a { text-align:center; display:block;}
#sign_up_promo a img { display:block; width:300px; height:100px; margin:10px auto;}

#brows_by_category ul li { float:left; width:45%; font-size:120%; padding:6px;}

#trending_insights ul { margin-top:20px;}
#trending_insights ul li { float:left; padding:5px; }
#trending_insights ul li img { width:146px;}

#recent_activity ul { margin-top:20px;}
#recent_activity ul li { float:left; padding:5px; }
#recent_activity ul li img { width:146px;}


/**********************************************************************************************************************/
/* LOGIN AND REGISTER                                                                                                 */
/**********************************************************************************************************************/
.login_or_register_page { min-height:100%;}
#login_or_register { width:1000px; margin:15px auto; }
#login_or_register td { padding:0 15px;}
#login { background-color:#FFF; color:#000; }
#login h3change_subscriptions { text-align:center; font-size:200%; padding:20px 0; }
#register { background-color:#FFF; color:#000; }
#register h3 { text-align:center; font-size:200%; padding:20px 0; }

/**********************************************************************************************************************/
/* PROFILE                                                                                                            */
/**********************************************************************************************************************/
#profile_page_left_column { width:350px; float:left;}
#profile_page_left_column .page_block { margin-bottom:15px;}
#profile_page_right_column { width:635px; float:right;}

#profile_page_account #account_basics img { width:48px; vertical-align:text-top; box-shadow: 3px 3px 3px #111; margin-right:5px;}
#profile_page_account #account_basics #username_container { float:right; width:270px; }
#profile_page_account #account_basics #username_container h3 { width:220px; overflow:hidden; margin-bottom:5px; height:27px;}
#profile_page_account #account_basics #username_container h3.long_user_name { font-size:80%; }
#profile_page_account #account_basics #username_container a#view_my_collection_link { color:#999; }
#profile_page_account #account_statistics { width:100%; background-color:#EEE; margin-top:20px;}
#profile_page_account #account_statistics td { padding:5px;}
#profile_page_account #account_statistics td#insights,
#profile_page_account #account_statistics td#following,
#profile_page_account #account_statistics td#followers { border-top:1px solid #DDD; border-bottom:1px solid #DDD;}
#profile_page_account #account_statistics td#following { border-left:1px solid #DDD; border-right:1px solid #DDD;}
#profile_page_account #account_statistics td#status { padding:5px; border-bottom:1px solid #DDD;}
#profile_page_account #account_statistics td#status #status_container { background-color:#AAA; padding:10px; }
#profile_page_account #account_statistics td#status #status_container input[type=text] { width:290px; }
#profile_page_account #account_statistics td .number { font-weight:bold; font-size:150%; margin-bottom:5px;}

#profile_page #my_creations { overflow:hidden; height:155px;}
#profile_page #my_creations ul li { float:left; padding:4px;}
#profile_page #my_creations ul li img { width:100px; height:75px;}
#profile_page #my_creations ul li.waiting { padding:20px 0 0 100px}
#profile_page #my_creations ul li.waiting img { width:31px; height:31px; position:relative; top:9px; left:4px;}
#profile_page #my_creations #more_link { display:block; text-align:right; color:#AAA; padding-right:15px; display:none;}

#profile_page #trending_insights { overflow:hidden; height:320px;}
#profile_page #trending_insights ul li { float:left; padding:4px;}
#profile_page #trending_insights ul li img { width:100px; height:75px;}
#profile_page #trending_insights ul li.waiting { padding:80px 0 0 100px}
#profile_page #trending_insights ul li.waiting img { width:31px; height:31px; position:relative; top:9px; left:4px;}

#profile_page #insights_timeline { height:697px;}
#profile_page #insights_timeline_header { padding-bottom:10px; border-bottom:1px solid #DDD;}
#profile_page #insights_timeline_header #start_new_insight { float:right;}
#profile_page #insights_timeline ul#timeline { overflow:auto; }
#profile_page #insights_timeline ul#timeline .waiting { padding:150px 0 0 200px; }
#profile_page #insights_timeline ul#timeline .waiting img { position:relative; top:9px; left:5px;}

/**********************************************************************************************************************/
/* DASHBOARD IN TIMELINE                                                                                              */
/**********************************************************************************************************************/
#timeline .widgets { height:50px; }
#timeline .widgets td { width:25%; text-align:center;}
#timeline .widget_panel h3 { font-size:100%}
#timeline .data_point_widget, #timeline .action_widget, #timeline .output_widget, #timeline .visualization_widget { background-color:#ddd; width:20px; height:20px; display:inline;}
#timeline .data_point_widget img, #timeline .action_widget img, #timeline .output_widget img, #timeline .visualization_widget img { display:inline; width:20px;}
#timeline .data_point_widget span, #timeline .action_widget span, #timeline .output_widget span, #timeline .visualization_widget span { display:none;}
#timeline .search_widget .search_results_container { height:210px;}
#timeline .empty_collection { height:238px; }
#timeline .empty_collection p { padding-top:100px;}


/**********************************************************************************************************************/
/* ACCOUNT                                                                                                            */
/**********************************************************************************************************************/
#account_page .left_column { float:left; width:49%; }
#account_page .right_column { float:right; width:49%; }

#account_page #account_management_container .waiting p { padding:150px 0; text-align:center; }
#account_page #account_management_container .waiting p img { position:relative; top:11px; left:2px;}
#account_page #account_management { }
#account_page #account_management h4 { padding:4px; color:#000; margin:10px 0;}
#account_page #account_management .subscription_image { float:left; width:20%; margin-bottom:10px;}
#account_page #account_management .subscription_details { float:right; width:79%; }
#account_page #account_management .subscription_details h5 { font-size:150% }
#account_page #account_management .subscription_details p { padding:5px 0 0 0; font-weight:bold;}

#account_page .subscription_downgrade_upgrade .errors { margin-bottom:10px;}
#account_page .subscription_downgrade_upgrade p { font-weight:bold; padding-bottom:5px; }
#account_page .subscription_downgrade_upgrade li { padding:0 0 10px 10px; }
#account_page .subscription_downgrade_upgrade .form-row label { display:inline-block; width:30%}
#account_page .subscription_downgrade_upgrade .action-row input { width:45%;}
#account_page .subscription_downgrade_upgrade button { width:45%;}



