{% extends 'thecommunity/base.html' %}

{% block page_title %}Welcome to metaLayer{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.action-row input').button();
        })
    </script>
{% endblock %}

{% block page_body %}

    <div id="login_or_register_page">
        <table id='login_or_register'>
            <tr>
                <td width="50%">
                    <div id='login'>
                        <h3>Login</h3>
                        {% if login_errors %}
                            <div class="ui-widget">
                                <div class="ui-state-error ui-corner-all" style="padding: 1em .7em;">
                                    {% for error in login_errors %}
                                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>{{ error }}</p>
                                    {%  endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row clearfix">
                                <label for='login_username'>Your Email</label>
                                <input type="text" name="login_username" id='login_username' />
                            </div>
                            <div class="form-row clearfix">
                                <label for='login_password'>Your Password</label>
                                <input type="password" name='login_password' id='login_password' />
                            </div>
							<div class="form-row clearfix">
								<a href="/community/password_reset">Forgot Password?</a>
							</div>
                            <div class="action-row clearfix">
                                <input type="submit" class="submit" value="login" name='login'/>
                            </div>
                        </form>
                    </div>
                </td>
                <td width="50%">
                    <div id='register'>
                        <h3>Register</h3>
                        {% if register_errors %}
                            <div class="ui-widget">
                                <div class="ui-state-error ui-corner-all" style="padding: 1em .7em;">
                                    {% for error in register_errors %}
                                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>{{ error }}</p>
                                    {%  endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row clearfix">
                                <label for='register_username'>Your Email *</label>
                                <input type="text" name="register_username" id='register_username' />
                            </div>
                            <div class="form-row clearfix">
                                <label for='register_password1'>Your Password *</label>
                                <input type="password" name='register_password1' id='register_password1' />
                            </div>
                            <div class="form-row clearfix">
                                <label for='register_password2'>Your Password Again *</label>
                                <input type="password" name='register_password2' id='register_password2' />
                            </div>
                            <div class="form-row clearfix">
                                <label for='register_code'>Registration code?</label>
                                <input type="text" name='register_code' id='register_code' />
                            </div>
                            <p class="instructions">* denotes required fields</p>
                            <div class="action-row clearfix">
                                <input type="submit" class="submit" value="register" name='register' />
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
