{% extends 'thecommunity/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/account_page.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/account_page_user_account_management.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/account_page_user_account_management_change_subscription.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/account_page_user_account_management_current_subscription.js"></script>
    <script type="text/javascript" language="JavaScript">
        $(document).ready
            (
                function()
                {
                    $.get('/static/html/thecommunity/account_page/account_page_user_account_management.html', function(t) { $.template('account_page_user_account_management', t)});
                    setTimeout( function() {$('#page').account_page();}, 500 );
                }
            );
    </script>
{% endblock %}

{% block page_body %}
<div id='page'>
    <div id='account_page' class="page_block">
        <h3>{{ user.username }}</h3>
        <div class="page_block_inner">
            <div class="clearfix">
                <div class="left_column">
                    left
                </div>
                <div class="right_column">
                    <div id='account_management_container'>
                        <div class="waiting">
                            <p>Loading you subscription information <img src="/static/images/thecommunity/loading_circle.gif" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}