{% load compress %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MetaLayer.com | {% block page_title %}Drag and Drop Data Science{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% compress css %}
        <link href="/static/css/lib/tipped.css" rel='stylesheet' type="text/css"/>
        <link href="/static/css/lib/Aristo.css" rel='stylesheet' type="text/css"/>
        <link href="/static/css/lib/jscrollpane2.css" rel='stylesheet' type="text/css"/>
        <link href="/static/css/thecommunity/style2.css" rel="stylesheet" type="text/css"/>
    {% endcompress %}
    <script type="text/javascript" src="/static/js/lib/jquery.cycle.all.js"></script>
    {% compress js %}
        <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.ui.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.corner.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.templates.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/tipped.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.jscrollpane2.js"></script>
        <script type="text/javascript" src="/static/js/lib/d3.js"></script>
        <script type="text/javascript" src="/static/js/lib/d3.layout.cloud.js"></script>
        {% block js %}{% endblock %}
    {% endcompress %}
    {% block uncompressed_js %}{% endblock %}
    <!--[if lt IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('section');
        document.createElement('footer');
    </script>
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="outer">
    {% if user.is_authenticated %}
        {% include 'thecommunity/headers/logged_in.html' %}
    {% else %}
        {% include 'thecommunity/headers/logged_out.html' %}
    {% endif %}
    {% block page_body %}{% endblock %}
    <footer class="footerwrap">
        <div class="footer">
            <div class="footer_nav">
                <ul>
                    <li class="nobg"><a href="#">About</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog </a></li>
                    <li><a href="#">Careers </a></li>
                    <li><a href="#">Privacy </a></li>
                    <li><a href="#">Press </a></li>
                    <li><a href="#">F.A.Q</a></li>
                    <li><a href="#">Developers</a></li>
                </ul>
            </div>
            <div class="credit">Copyright &copy; 2012 <strong>metaLayer Inc.</strong> </div>
        </div>
    </footer>
</div>
<div id="modal_container"></div>
</body>
</html>
