{% extends 'base.html' %}
{% load compress %}

{% block js %}
    {% compress js %}
        <script type="text/javascript" src="/static/js/lib/jquery.corner.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.ui.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.templates.min.js"></script>
    {% endcompress %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site/community.css" />
    <link rel="stylesheet" href="/static/css/lib/Aristo.css"/>
{% endblock %}

{% block body %}
    <div id="page_container">
        {%  block page_body %}{% endblock %}
        <div id='footer' class="clearfix">
            <dl>
                <dt>Navigation</dt>
                <dd>About Us</dd>
                <dd>Team</dd>
                <dd>Careers</dd>
                <dd>Press</dd>
                <dd>FAQ</dd>
                <dd>Developers</dd>
            </dl>
            <dl>
                <dt>Recent Blog Post</dt>
                <dd>One</dd>
                <dd>Two</dd>
                <dd>Three</dd>
            </dl>
            <dl>
                <dt>Products</dt>
                <dd>One</dd>
                <dd>Two</dd>
                <dd>Three</dd>
            </dl>
        </div>
    </div>
    <br/>
{% endblock %}
