{% extends 'base.html' %}
{% load compress %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
    {% compress js %}
        <script type="text/javascript" src="/static/js/lib/jquery.ui.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.templates.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.corner.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/static/js/lib/excanvas.js"></script>
        <script type="text/javascript" src="/static/js/lib/tipped.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.jscrollpane.js"></script>
        <script type="text/javascript" src="/static/js/thecommunity/insights_insight.js"></script>
        <script type="text/javascript" src="/static/js/thecommunity/insights_trending_insights.js"></script>
        <script type="text/javascript">
            function getURLParameter(name) {
                return decodeURI(
                        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
                );
            }
            $(document).ready
            (
                function()
                {
                    $('.page_block').corner('20px');
                }
            );
        </script>
    {% endcompress %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site/community.css" />
    <link rel="stylesheet" href="/static/css/lib/tipped.css"/>
    <link rel="stylesheet" href="/static/css/lib/jscrollpane.css"/>
{% endblock %}

{% block body %}
    <div id="page_container">
        {%  block page_body %}{% endblock %}
        <div id='footer' class="clearfix">
            <div id="main_links">
                <a>About</a><span class="divider">.</span>
                <a>Product</a><span class="divider">.</span>
                <a>Blog</a><span class="divider">.</span>
                <a>Careers</a><span class="divider">.</span>
                <a>Privacy</a><span class="divider">.</span>
                <a>Press</a><span class="divider">.</span>
                <a>F.A.Q</a><span class="divider">.</span>
                <a>Developers</a>
            </div>
            <div id='copyright'>
                Copyright &copy; 2012 <b>metaLayer Inc.</b>
            </div>
        </div>
    </div>
{% endblock %}
