{% extends 'thecommunity/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/community_page.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/community_page_top_insights.js"></script>
    <script type="text/javascript" language="JavaScript" src="/static/js/thecommunity/community_page_recent_insights.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready
        (
            function()
            {
                $('#page').community_page();
            }
        )
    </script>
{% endblock %}

{% block page_body %}
<div id='page'>
    <div id='top_insights' class="page_block">
        <h3><span>Top Insights of The Day</span></h3>
        <div class="page_block_inner">
            <div class="clearfix">
                <div id="top_insights_inner" class='left_column clearfix'>
                    <div class="left_column">
                        <ul>
                        </ul>
                    </div>
                    <div class="right_column" id="top_insight_container">
                    </div>
                </div>
                <div class="right_column clearfix">
                    <p>metaLayer is the best way to create, discover and share insight about the worlds information! <span>Search is so 20th century</span></p>
                    <div id='video_container'>
                        <iframe src="http://player.vimeo.com/video/31801964?portrait=0" width="409" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='main_body' class="clearfix">
        <div class="left_column clearfix">
            <div id='promo_slot_1' class="main_body_section">
                <div id='sign_up_promo'>
                    <h5>We make the worlds information easier to understand, visualize and share!</h5>
                    <a>
                        <img src="/static/images/thecommunity/button_signup_promotion.png" alt="sign up today" />
                    </a>
                    <a class="go_pro">Are you a data professional or an organization? Go Pro!</a>
                </div>
            </div>
            <div id='brows_by_category' class="page_block main_body_section">
                <h3><span>Brows By Category</span></h3>
                <div class="page_block_inner">
                    <ul>
                        <li>Business</li>
                        <li>Politics</li>
                        <li>Science</li>
                        <li>Current Events</li>
                        <li>News / Journalism</li>
                        <li>Investigative</li>
                        <li>Number / Math</li>
                        <li>Education</li>
                        <li>Finance</li>
                        <li>Travel</li>
                        <li>Humor</li>
                        <li>Technology</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right_column clearfix">
            <div id='trending_insights' class="page_block main_body_section">
                <h3><span>Whats Trending?</span></h3>
                <div class="page_block_inner">
                    <ul class="clearfix">
                        <li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
            <div id='recent_activity' class="page_block main_body_section">
                <h3><span>Recent Changes</span></h3>
                <div class="page_block_inner">
                    <ul>
                        <li class="waiting">Loading<img src="/static/images/thecommunity/loading_circle.gif" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}