{% extends 'base.html' %}
{% load compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="/static/css/site/site.css" />
        <link rel="stylesheet" href="/static/css/lib/jscrollpane.css" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script type="text/javascript" src="/static/js/lib/jquery.ui.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.templates.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.corner.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.em.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.jscrollpane.js"></script>
        <script type="text/javascript" src="/static/js/site/header.js"></script>
        <script type="text/javascript" src="/static/js/site/site.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_collection.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_data_points_and_actions.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_control_panel.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_search_filters.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_search_results.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_search_results_content_items.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_unconfigured_data_point.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_search_widget_unconfigured_action.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_collections_panel.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_widget_panel.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_outputs.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_visualizations.js"></script>
        <script type="text/javascript" src="/static/js/site/dashboard_visualization.js"></script>
        <script type="text/javascript" src="/static/js/site/init.js"></script>
        <script type="text/javascript">
            EMBEDDED_MODE = false;

            $(document).ready
            (
                function()
                {
                    $('#header').header();
                    setTimeout
                    (
                        function()
                        {
                            var dashboard_id = '{{ dashboard_id }}';
                            $.get
                            (
                                '/dashboard/load/' + dashboard_id,
                                function(data)
                                {
                                    $('.dashboard').dashboard({'dashboard':data.dashboard});
                                },
                                'JSON'
                            );
                        },
                        1000
                    );
                }
            )
        </script>
    {% endcompress %}
{% endblock %}

{% block body %}
    <div id='page'>
        <div id='header'>
            <div id='header_links' class="clearfix">
                <a id='user_home_link' href="/">home</a>
                <a id='link_help'>help</a>
                <a id='link_logout' href="/user/logout">logout</a>
            </div>
        </div>
        <div id='content'>
            <div class="dashboard">
                <div class='widgets'></div>
                <div class='collections'></div>
            </div>
        </div>
        <div class="hidden">
            <img src="/static/images/site/icon_clock.png" width='1px' height="1px" />
            <img src="/static/images/site/icon_clock_loading.gif" width='1px' height="1px" />
            <img src="/static/images/site/icon_config.png" width='1px' height="1px" />
            <img src="/static/images/site/icon_cross.png" width='1px' height="1px" />
            <img src="/static/images/site/icon_publish.png" width='1px' height="1px" />
            <img src="/static/images/site/icon_search.png" width='1px' height="1px" />
        </div>
    </div>
{% endblock %}